<table class="ui selectable celled black table" id="centred_table">
  <tr class="table_title">
    <th>Статус</th>
    <th>№</th>
    <%= render partial: 'administration/appointments/sorting/by_patient_surname' %>
    <th>E-mail</th>

    <% if current_user.admin? %>
        <%= render partial: 'administration/appointments/sorting/by_doctor_surname' %>
    <% elsif current_user.doctor? %>
        <th>Возраст</th>
    <% end %>

    <%= render partial: 'administration/appointments/sorting/by_appointment_date' %>

    <% if current_user.admin? %>
        <th colspan="4", class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>

  <% unless @appointments.nil? %>
      <% @appointments.each do |appointment| %>
          <tr>
            <td class="middle aligned">
              <% status = show_statuses_of appointment %>
              <div class="ui <%= status[0] %> ribbon label"><%= status[1] %></div>
            </td>

            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <% if appointment.patient.avatar.file.nil? %>
                    <img src="<%= asset_path appointment.patient.default_image %>" class="ui mini rounded image">
                <% else %>
                    <%= image_tag patient.avatar.tiny, class: "ui mini rounded image" %>
                <% end %>

                <div class="content">
                  <%= link_to appointment.patient.fullname, patient_path(appointment.patient) %>
                  <div class="sub header"><%= appointment.patient.phone %></div>
                </div>
              </h4>
            </td>

            <td>
              <% email = appointment.patient.email %>
              <%= email.present? ? email : 'Отсутствует' %>
            </td>

            <% if current_user.admin? %>
                <td class="middle aligned" style="padding: 6px">
                  <h4 class="ui image header">
                    <div class="content">
                      <%= link_to appointment.doctor.fullname, doctor_path(appointment.doctor) %>
                      <div class="sub header"><%= appointment.doctor.phone %></div>
                    </div>
                  </h4>
                </td>
            <% elsif current_user.doctor? %>
                <% age = appointment.patient.age.present? ? appointment.patient.age : 'Не указан' %>
                <td class="middle aligned"><%= age %></td>
            <% end %>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <div class="content">
                  <%= l appointment.appointment_date, format: ("%d %B %Y") %>
                  <div class="sub header">
                    <%= "#{appointment.start_time.strftime('%H:%M')}" %>
                  </div>
                </div>
              </h4>
            </td>

            <% if current_user.admin? %>
                <%= render partial: 'administration/appointments/statuses', locals: {appointment: appointment} %>
                <td class="middle aligned"><%= link_to edit_appointment_path(appointment) do %>
                      <i class="write icon width_color_changed large"></i>
                  <% end %>
                </td>

                <td class="middle aligned"><%= link_to appointment_path(appointment),
                                                       data: {confirm: "Вы уверены что хотите удалить первичный осмотр из системы?"},
                                                       method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>

                <td class="middle aligned"><%= link_to new_treatment_path(patient_id: appointment.patient.id) do %>
                      <b>Создать прием</b>
                  <% end %>
                </td>
            <% end %>

          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @appointments, :remote => true %>