<div class="ui form width changed" id="second_datepicker_identifier_on_page" %>
  <div class="create_appointment_for_existing_patient">
      <% @appointment.build_doctor if @appointment.doctor.nil? %>
      <% @appointment.build_patient if @appointment.patient.nil? %>
      <%= form_for(@appointment, html: {class: 'ui equal width form'}) do |f| %>

          <div class="two fields">
            <div class="field">
              <label>Доктор</label>
              <%= f.select :doctor_id, Appointment.appointment_participants(@appointment.doctor),
                           {prompt: yield(:doctor_prompt) },
                           {class: 'ui search fluid dropdown', name: 'doctor_id'} %>
            </div>

            <div class="field">
              <label>Пациент</label>
              <%= f.select :patient_id, Appointment.appointment_participants(@appointment.patient),
                           {prompt: yield(:patient_prompt) },
                           {class: 'ui search fluid dropdown', name: 'patient_id'} %>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Дата осмотра</label>
              <%= f.text_field :appointment_date,
                               'data-provide' => 'datepicker',
                               :value=>"#{f.object.appointment_date.strftime("%d %B %Y") unless f.object.new_record?}",
                               placeholder: yield(:date_placeholder),
                               name: 'appointment_date' %>
            </div>

            <div class="field">
              <label>Время</label>
              <%= f.time_select :start_time, {start_hour: 8, end_hour: 18, minute_step: 15}, {class: 'ui search dropdown'} %>
            </div>
          </div></br>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit yield(:button), class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', appointments_path, class: "ui negative button" %>
          </div>

      <% end %>
  </div>
</div>