<button type="button" class="ui blue button" data-toggle="modal" data-target="#new_appointment" style="margin-right: 15px">
  <i class="add user icon"></i>
  Создать новый осмотр
</button>

<div class="modal fade" id="new_appointment" tabindex="-1" role="dialog" aria-labelledby="new_appointmentLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render '/administration/users/new' %>
      </div>

      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>