<td class="middle aligned">
  <div class="dropdown_center_showing">
    <div class="ui dropdown">
        <i class="options icon width_color_changed large"></i>
        <div class="menu">
          <div class="header">
            <i class="tags icon"></i>
            Статус первичного осмотра
          </div>

          <div class="scrolling menu">
            <%= link_to change_status_appointment_path(appointment, status: 'not_approved'), class: 'item' do %>
                <div class="ui gray empty circular label"></div>
                Не подтвержден
            <% end %>

            <%= link_to change_status_appointment_path(appointment, status: 'approved'), class: 'item' do %>
                <div class="ui green empty circular label"></div>
                Подтвержден
            <% end %>

            <%= link_to change_status_appointment_path(appointment, status: 'postponed'), class: 'item' do %>
                <div class="ui red empty circular label"></div>
                Отложен
            <% end %>

            <%= link_to change_status_appointment_path(appointment, status: 'canceled'), class: 'item' do %>
                <div class="ui black empty circular label"></div>
                Отменен
            <% end %>
          </div>

        </div>
      </div>
  </div>
</td>