<h3 class="ui left floated header">Список первичных осмотров</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= appointments_amount %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary  menu">
  <div class="left menu">
    <div class="item" id="item_left_padding">
      <% if current_user.admin? %>
          <%= render 'administration/appointments/modal_for_creating_appointment' %>
      <% end %>

      <%= link_to conditional_appointments_path, class: 'ui blue button' do %>
          <i class="checkmark box icon"></i>
            Предварительные записи
          <div class="floating ui red circular label">
            <%= conditional_appointments_amount %>
          </div>
      <% end %>
    </div>
  </div>

  <%= render 'administration/appointments/appointments_search_field' %>
</div>

<div class="after_search_rendered_table">
    <%= render 'administration/appointments/appointments_index_table' %>
</div>

<% if @appointments.empty? %>
    <h4 class="ui red block header">
      На данный момент нет первичных осмотров
    </h4>
<% end %>

<%= alertify_flash %>