<%= render 'administration/appointments/form_for_appointment' %>

<% provide(:button, 'Создать осмотр') %>
<% provide(:message, 'Создание первичного осмотра пациента') %>
<% provide(:doctor_prompt, 'Выберите доктора для осмотра') %>
<% provide(:patient_prompt, 'Выберите пациента') %>
<% provide(:date_placeholder, 'Дата осмотра') %>