<th>
  <%= sortable("age", 'Возраст') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'age' %>
      <%= link_to patients_path(sort: 'age', direction: 'desc'), remote: true do %>
          <i class="sort content ascending icon"></i>
      <% end %>

      <%= link_to patients_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'age' %>
      <%= link_to patients_path(sort: 'ahe', direction: 'asc'), remote: true do %>
          <i class="sort content descending icon"></i>
      <% end %>

      <%= link_to patients_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to patients_path(sort: 'age', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>