<div>
  <% if current_user.admin? %>
      <%= select_tag :doctor_id,
                     options_for_select(Doctor.selecting_doctors.collect{ |e| [e[0], e[1]] }),
                     {
                             prompt: 'Выберите доктора',
                             class: 'ui search fluid dropdown',
                             id: 'filter_doctor',
                             name: 'doctor_id'
                     } %>
  <% end %>
</div>
<br>

<div id='calendar'></div>