<h4>Поздравляем! Вы были успешно зарегистрированы администратором в CRM системе стоматологии 'Династия'.</h4>
<p>Для дальнейшей работы в системе Вам необходимо зайти на сайт стоматологии и авторизоваться</p><br>

<b>Данные для входа:</b><br>
<p>Почта: <%= @doctor.email %></p>
<p>Пароль: <%= @password %></p><br>

<p>Для авторизации пройдите по ссылке: <%= @url %></p>
<p>После того как Вы вошли, необходимо пройти в личный кабинет и изменить пароль на известный только Вам!</p>

<hr>
<h6>Если при авторизации или смене пароля у Вас произошли ошибки, обратитесь к администратору стоматологии.</h6>