<div class="registration">
  <h2 class="text-left">Редактирование аккаунта </h2>
  <hr/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
               html: { method: :put, class: 'form-horizontal' }) do |f| %>

      <div class="form-group <%= 'has-error' if resource.errors[:name].any? %>">
        <%= f.label :Имя, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :name, class: 'form-control' %>
          <%= render 'shared/field_errors', object: resource, field_name: :name %>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if @user.errors[:surname].any? %>">
        <%= f.label :'Фамилия', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :surname, class: 'form-control' %>
          <%= render 'shared/field_errors', object: @user, field_name: :surname %>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if resource.errors[:email].any? %>">
        <%= f.label :'E-mail', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.email_field :email, class: 'form-control' %>
          <%= render 'shared/field_errors', object: resource, field_name: :email %>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if resource.errors[:password].any? %>">
        <%= f.label :'Новый пароль', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          <%= render 'shared/field_errors', object: resource, field_name: :password %>
          <i class="help-block">(Оставьте поле пустым, если не будете менять пароль)</i>
          <% if @minimum_password_length %>
              <span class="help-block">(<%= @minimum_password_length %> characters minimum)</span>
          <% end %>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if resource.errors[:password_confirmation].any? %>">
        <%= f.label :Подтверждение, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
          <%= render 'shared/field_errors', object: resource, field_name: :password_confirmation %>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if resource.errors[:current_password].any? %>">
        <%= f.label :'Текущий пароль', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
          <%= render 'shared/field_errors', object: resource, field_name: :current_password %>
          <i class="help-block">(Необходим, чтобы сохранить изменения)</i>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <%= f.submit 'Update', value: 'Обновить', class: 'btn btn-primary' %>
        </div>
      </div>
  <% end %>

  <h3 class="text-left">Удаление аккаунта</h3>
  <hr/>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-10">

      <%= button_to 'Удалить мой аккаунт',
                    registration_path(resource_name),
                    data: { confirm: "Вы действительно хотите удалить аккаунт?" },
                    method: :delete, class: 'btn btn-danger' %><br><br>
    </div>
  </div>
</div>