<script>
    $(document).ready(function() { $('.ui.dropdown').dropdown() });
</script>

<div class="ui-form-width", style="width: 650px; margin: 0 auto">
  <% @user.build_patient if @user.patient.nil? %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
               html: {class: 'ui equal width form'}) do |f| %>

  <h4 class="ui dividing header">Registration</h4></br>

  <div class="field">
    <div class="two fields">
      <div class="field <%= 'has-error' if @user.errors[:name].any? %>">
        <label>Name</label>
        <%= f.text_field :name, placeholder: 'Name' %>
        <span><%= render 'shared/field_errors', object: @user, field_name: :name %></span>
      </div>

      <div class="field <%= 'has-error' if @user.errors[:surname].any? %>">
        <label>Surname</label>
        <%= f.text_field :surname, placeholder: 'Surname' %>
        <span><%= render 'shared/field_errors', object: @user, field_name: :surname %></span>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <%= f.fields_for :patient do |patient| %>
        <div class="field <%= 'has-error' if @user.patient.errors[:age].any? %>">
          <label>Age</label>
          <%= patient.text_field :age, placeholder: 'Age' %>
          <span><%= render 'shared/field_errors', object: @user.patient, field_name: :age %></span>
        </div>

        <div class="field <%= 'has-error' if @user.patient.errors[:gender].any? %>">
          <label>Gender</label>
          <%= patient.select :gender, ['Male','Female'], {}, class: 'ui dropdown'%>
          <span><%= render 'shared/field_errors', object: @user.patient, field_name: :gender %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <%= f.fields_for :patient do |patient| %>
      <div class="field <%= 'has-error' if @user.patient.errors[:phone].any? %>">
        <label>Phone</label>
        <%= patient.text_field :phone, placeholder: 'Your phone number' %>
        <span><%= render 'shared/field_errors', object: @user.patient, field_name: :phone %></span>
      <% end %>
      </div>

      <div class="field <%= 'has-error' if @user.errors[:email].any? %>">
        <label>Email</label>
        <%= f.email_field :email, placeholder: 'e-mail' %>
        <span><%= render 'shared/field_errors', object: @user, field_name: :email %></span>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field <%= 'has-error' if @user.errors[:password].any? %>">
        <label>Password</label>
        <%= f.password_field :password, placeholder: 'Enter password' %>
        <span><%= render 'shared/field_errors', object: @user, field_name: :password %></span>
      </div>

      <div class="field <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
        <label>Password confirmation</label>
        <%= f.password_field :password_confirmarion, placeholder: 'Confirm your password' %>
        <span><%= render 'shared/field_errors', object: @user, field_name: :password_confirmation %></span>
      </div>
    </div>
  </div>

  <%= f.submit 'Create an account', class: "positive fluid ui button" %></br>
  <%= link_to 'Already have an account?', new_user_session_path %>

  <% end %>
</div>