<div class="ui form width changed">
  <div class="edit_procedure">
      <%= form_for(procedure, html: {class: 'ui equal width form'}) do |f| %>

          <h4 class="ui dividing header"><%= 'Редактирование процедуры' %></h4></br>

          <div class="two fields">
              <div class="field">
                <label>Наименование</label>
                <%= f.text_field :title, placeholder: 'Наименование категории', name: 'title' %>
              </div>

              <div class="field">
                <label>Категория</label>
                <%= f.collection_select :category_id, PriceListCategory.all, :id, :title,
                                        { prompt: "Выберите категорию"},
                                        {class: 'ui search fluid dropdown', name: 'category_id' }%>
              </div>
          </div>

          <% if procedure.age_types.present? %>
            <h5 class="ui dividing header">Стоимость процедуры по возрастным категориям</h5>
          <% end %>

          <% if procedure.age_types.present? %>
            <% procedure.procedure_age_types.each do |type| %>
                <div class="two fields">
                  <div class="field">
                    <%= select_tag 'prices[]age_type', options_from_collection_for_select(AgeType.all, "id", "title", type.age_type.id),
                                   {prompt: 'Выберите возрастную категорию', class: 'ui search fluid dropdown'}%>
                  </div>

                  <div class="field">
                    <%= text_field_tag 'prices[]price', nil, placeholder: 'Введите стоимость в цифрах',
                                       value: type.price.to_i %>
                  </div>
                </div>
            <% end %>
          <% end %>

          <% if procedure.age_types.count < AgeType.all.count %>
            <% (AgeType.all.count - procedure.age_types.count).times do %>
                <div class="two fields">
                  <div class="field">
                    <%= select_tag 'prices[]age_type', options_from_collection_for_select(AgeType.all, "id", "title"),
                                   {
                                           prompt: 'Выберите возрастную категорию',
                                           class: 'ui search fluid dropdown',
                                   } %>
                  </div>

                  <div class="field">
                    <%= text_field_tag 'prices[]price', nil, placeholder: 'Введите стоимость в цифрах' %>
                  </div>
                </div>
            <% end %>
          <% end %>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit 'Обновить процедуру', class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', procedures_path, class: "ui negative button" %>
          </div>

      <% end %>
  </div>
</div>