<div class="ui form width changed">
  <div class="create_procedure">

    <%= form_for(@procedure, html: {class: 'ui equal width form'}) do |f| %>

      <h4 class="ui dividing header"><%= 'Создание процедуры' %></h4></br>

        <div class="two fields">
          <div class="field">
            <label>Наименование</label>
            <%= f.text_field :title, placeholder: 'Наименование процедуры', name: 'title' %>
          </div>

          <div class="field">
            <label>Категория</label>
            <%= f.collection_select :category_id, PriceListCategory.all, :id, :title,
                                    { prompt: "Выберите категорию"},
                                    {class: 'ui search fluid dropdown', name: 'category_id' }%>
          </div>
        </div>

      <h5 class="ui dividing header">Стоимость процедуры по возрастным категориям</h5>

      <% if AgeType.all.present? %>
        <div class="two fields">
          <div class="field">
            <%= select_tag 'prices[]age_type',
                           options_from_collection_for_select(AgeType.all.where(constant_name: 'adult'), "id", "title"),
                           {prompt: 'Выберите возрастную категорию',
                            class: 'ui search fluid dropdown',
                            name: 'age_type'} %>
          </div>

          <div class="field">
            <%= text_field_tag 'prices[]price', nil, placeholder: 'Введите стоимость в цифрах', name: 'price' %>
          </div>
        </div>

        <% quantity = AgeType.all.count - 1 %>
        <% quantity.times do %>
          <div class="two fields">
            <div class="field">
              <%= select_tag 'prices[]age_type', options_from_collection_for_select(AgeType.all.where(constant_name: nil), "id", "title"),
                                  {prompt: 'Выберите возрастную категорию',
                                   class: 'ui search fluid dropdown'} %>
            </div>

            <div class="field">
              <%= text_field_tag 'prices[]price', nil, placeholder: 'Введите стоимость в цифрах' %>
            </div>
          </div>
        <% end %>

      <% else %>
        <h6 class="ui red block header">
          Для создания процедуры вам необходимо создать <%= link_to 'возрастные категории', age_types_path %>
        </h6><br>
      <% end %>

      <div class="ui buttons", id="edit_form_style">
        <% if AgeType.all.present? %>
          <%= f.submit 'Создать процедуру', class: "ui blue button" %>
        <% else %>
          <%= f.submit 'Создать процедуру', class: "ui disabled blue button" %>
        <% end %>

        <div class="or"></div>
        <%= link_to 'Вернуться к списку', price_list_categories_path, class: "ui negative button" %>
      </div>

    <% end %>
  </div>
</div>