<% if procedure.age_types.present? %>
    <td class="middle aligned list">
        <a class="title">
          <i class="icon dropdown"></i>
          <b><%= procedure.title %></b>
        </a>

      <div class="content">
        <div class="ui middle aligned list">
           <% if procedure.age_types %>
               <div class="item">
                  <div class="title" style="padding: 0em">
                    <div class="description" id="list_left_margin">
                      <% procedure.procedure_age_types.each do |type| %>
                          <div class="content">
                            <i class="angle double right icon"></i>
                            <% if type.age_type %>
                              <b><%= type.age_type.title %>:</b> &nbsp;<%= type.price.to_i %> сом
                            <% else %>
                                Не имеет возрастных категорий
                            <% end %>
                          </div>
                      <% end %>
                    </div>
                  </div>
               </div>
           <% end %>
        </div>
      </div>
    </td>
<% else %>
    <td class="middle aligned list">
      <b><%= procedure.title %></b>
    </td>
<% end %>