<div class="modal fade" id="update_procedure-<%= procedure.id %>" tabindex="-1" role="dialog" aria-labelledby="update_procedureLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/procedures/edit', locals: {procedure: procedure} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>