<table class="ui selectable celled black table", id="centred_table">
  <tr class="table_title">
    <th>№</th>
    <%= render partial: 'administration/procedures/sorting/by_title' %>
    <th>Категория процедуры</th>
    <% if current_user.admin? %>
        <th colspan="2", class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>
  <% if @procedures %>
      <% @procedures.each do |procedure| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>

            <%= render partial: 'administration/procedures/form_for_accordion', locals: {procedure: procedure} %>

            <td class="middle aligned"><%= procedure.category.title %></td>

            <% if current_user.admin? %>
                <td class="middle aligned">
                  <a href="#", data-toggle="modal" data-target="#update_procedure-<%= procedure.id %>">
                    <i class="write icon width_color_changed large"></i>
                  </a>

                  <%= render partial: 'administration/procedures/modal_for_updating_procedure', locals: {procedure: procedure} %>
                </td>

                <td class="middle aligned"><%= link_to procedure_path(procedure),
                                                       data: {confirm: "Вы уверены что хотите удалить процедуру: #{procedure.title}, из системы?"},
                                                       method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @procedures, :remote => true %>