<h3 class="ui left floated header">Процедуры по прейскуранту</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= Procedure.all.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <% if current_user.admin? %>
      <%= render 'administration/procedures/modal_for_creating_procedure' %>
  <% end %>
  <%= render 'administration/procedures/procedures_search_field' %>
</div>

<div class="ui accordion field">
  <div class="after_search_rendered_table">
    <%= render 'administration/procedures/procedures_index_table' %>
  </div>
</div>

<% if @procedures.empty? %>
    <h4 class="ui red block header">
      На данный момент список процедур клиники пуст.
    </h4>
<% end %>