<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Записаться на Прием
  </div>
  <div class="create_conditional_appointment">
    <%= form_for @appointment, html: {class: 'form'} do |f| %>
        <div class="image content">
          <div class="description">
            <div class="field">
              <%= f.text_field :surname, placeholder: 'Фамилия', name: 'surname' %>
            </div>
            <div class="field">
              <%= f.text_field :name, placeholder: 'Имя', name: 'name' %>
            </div>
            <div class="field">
              <%= f.text_field :phone, placeholder: 'Сотовый Телефон', name: 'phone' %>
            </div>
            <div class="field">
              <%= f.text_field :email, placeholder: 'example@email.com' %>
            </div>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
        </div>
        <div class="actions">
          <div class="two fluid ui inverted buttons">
            <div class="ui cancel red basic inverted button">
              <i class="remove icon"></i>
              Отмена
            </div>
            <%= f.submit value: "Отправить", class: "ui ok green basic inverted button" do %>
                <i class="checkmark icon"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>