<div class="row recent_posts" data-appear-top-offset="-200" data-animated="fadeInUp">

  <% @articles.each do |article| %>
      <div class="col-lg-4 col-md-4 col-sm-4 padbot30 post_item_block">
        <div class="post_item">
          <div class="post_item_img">
            <%= image_tag article.image.thumb %>
            <%= link_to '', show_article_path(article), class: 'link' %>
          </div>
          <div class="post_item_content">
            <%= link_to article.title, show_article_path(article), class: 'title' %>
            <ul class="post_item_inf">
              <li><a href="javascript:void(0);">Автор, <%= article.doctor.surname %></a> |</li>
              <!--<li><a href="javascript:void(0);"></a> |</li>-->
            </ul>
          </div>
        </div>
      </div>
  <% end %>
</div>