<!-- HOME -->
<section id="home" class="padbot0">

  <!-- TOP SLIDER -->
  <div class="flexslider top_slider">
    <ul class="slides">
      <li class="slide1">
        <div class="flex_caption1">
          <p class="title1 captionDelay2 FromTop">Династия</p>
          <p class="title2 captionDelay4 FromTop">Семейная</p>
          <p class="title3 captionDelay6 FromTop">Стоматология</p>
          <p class="title4 captionDelay7 FromBottom"></p>
        </div>
        <a href="#" class="slide_btn FromRight" data-modal="appointment">Записаться на прием</a>
      <li class="slide2">
        <div class="flex_caption1">
          <p class="title1 captionDelay6 FromLeft">Современное</p>
          <p class="title2 captionDelay4 FromLeft">Оборудование</p>
          <p class="title3 captionDelay2 FromLeft"></p>
          <p class="title4 captionDelay7 FromLeft">Мы используем передовые технологии, качественное оборудование и
            европейские расходные материалы</p>
        </div>
        <a href="#" class="slide_btn FromRight" data-modal="appointment">Записаться на прием</a>

      </li>
      <li class="slide3">
        <div class="flex_caption1">
          <p class="title1 captionDelay1 FromBottom">Команда</p>
          <p class="title2 captionDelay2 FromBottom">Профессионалов</p>
          <p class="title3 captionDelay3 FromBottom"></p>
          <p class="title4 captionDelay5 FromBottom">Успешные, молодые, талантливые врачи.</p>
        </div>
        <a href="#" class="slide_btn FromRight" data-modal="appointment">Записаться на прием</a>
      </li>
    </ul>
    <!-- VIDEO BACKGROUND -->
    <!--<a name="P2" class="player" id="P2" data-property="{videoURL:'5YKth9ZfACA',containment:'.top_slider',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>-->
    <!-- //VIDEO BACKGROUND -->
  </div>
  <div id="carousel">
    <ul class="slides">
      <li><img src="<%= asset_path 'slider/slide1_bg.jpg' %>" alt="dinastiya.kg"/></li>
      <li><img src="<%= asset_path 'slider/slide2_bg.jpg' %>" alt="dinastiya.kg"/></li>
      <li><img src="<%= asset_path 'slider/slide3_bg.jpg' %>" alt="dinastiya.kg"/></li>
    </ul>
  </div><!-- //TOP SLIDER -->

</section><!-- //HOME -->
<!-- ABOUT US -->
<section id="about">

  <!-- SERVICES -->
  <div class="services_block padbot20" data-appear-top-offset="-200" data-animated="fadeInUp">

    <!-- CONTAINER -->
    <div class="container">

      <!-- ROW -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Терапевтическая</b> Стоматология</p>
            <span>Одно их главных направлений стоматологии – терапевтическая стоматология занимается лечением и профилактикой заболеваний зубов. Основными заболеваниями являются кариес, пульпит и периодонтит.</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Ортопедическая</b> Стоматология</p>
            <span>Наука о распознавании, профилактике и лечении больных с аномалиями, приобретенными дефектами, повреждениями и деформациями органов жевательно-речевого аппарата.</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Эстетическая</b> <br> Терапия</p>
            <span>Сегодня эстетическая терапия зубов является одними из самых востребованных направлений стоматологии. Ее возможности с каждым годом увеличиваются благодаря появлению новых методик и созданию инновационных материалов.</span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Хирургическая</b> Стоматология</p>
               <span>
                 В случаях, когда лечение неэффективно и удаление зуба неизбежно, стоматолог-хирург профессионально, быстро и без болевых ощущений удалит необходимый зуб. Возможно и удаление зубов мудрости, которые неправильно выросли и мешают.
               </span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Ортодонтия</b></p>
              <span>
                Раздел стоматологии, который занимается изучением причин возникновения зубочелюстных аномалий (неправильного прикуса или неровного расположения зубов), их диагностикой, лечением и профилактикой.
              </span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Гигиена</b> полости рта</p>
              <span>
                Быстро и недорого вернуть красивый оттенок зубам можно после аппаратной чистки в условиях стоматологического кабинета. Кроме того, подобная процедура станет отличной профилактикой различных стоматологических заболеваний.
              </span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Лечение</b> Дёсен</p>
              <span>
                Воспаление дёсен является достаточно распространённым заболеванием полости рта, которым в той или иной степени страдают около 2/3 всех пациентов стоматологий в Бишкеке.
              </span>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
          <a class="services_item" href="javascript:void(0);">
            <p><b>Детская</b> Стоматология</p>
              <span>
                Детские молочные зубы требуют такого же ухода, что и у взрослых. Мы предоставляем услуги лечения молочных зубов, удаления, профилактики кариозных и некариозных поражений.
              </span>
          </a>
        </div>


      </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
  </div><!-- //SERVICES -->
</section><!-- //SERVICES -->

<section id="gallery" style='background-color: #f8f8f8; padding: 50px 0 60px;'>
  <!-- CONTAINER -->
  <div class="container">
    <h2><b>Фото</b> Галерея</h2>
    <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
    <!-- PROJECTS SLIDER -->
    <div class="owl-demo owl-carousel projects_slider">

      <div class="item">
        <a href="<%= asset_path 'gallery/14.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/14.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'gallery/13.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/13.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- work1 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/1.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/1.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work1 -->

      <!-- work2 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/2.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/2.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work2 -->

      <!-- work3 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/3.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/3.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work3 -->

      <!-- work4 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/4.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/4.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work4 -->

      <!-- work5 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/5.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/5.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work5 -->

      <!-- work6 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/6.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/6.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work6 -->

      <!-- work7 -->
      <div class="item">
        <a href="<%= asset_path 'gallery/7.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/7.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work7 -->

      <div class="item">
        <a href="<%= asset_path 'gallery/8.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/8.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="<%= asset_path 'gallery/9.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/9.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'gallery/10.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/10.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'gallery/11.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/11.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'gallery/12.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'gallery/12.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div><!-- //PROJECTS SLIDER -->
  </div>
  </div>
</section>

<!-- MULTI PURPOSE -->
<section id="purpose" style='padding: 30px 0 30px;'>
  <div class="purpose_block ">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
          <h2><b>Стоматология</b> Династия</h2>
          <p>Стоматологическая клиника «Династия» - это коллектив профессионалов-единомышленников, настоящих
            энтузиастов своего дела.</p>
          <p>Не стоит спешить с удалением больных зубов, современные методики лечения позволяют сохранить зубы без их экстракции, и наши врачи работают согласно этому правилу.</p>
          <p>В нашей стоматологической клинике Вас ждет радушный прием, теплая атмосфера, комфортная обстановка
          и, конечно, высокопрофессиональное комплексное лечение зубов с применением современных технологий и материалов. Гибкие цены позволяют нашим специалистам подобрать лечение с учетом Ваших возможностей при сохранении высокого качества.
          </p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
          <img class="ipad_img1" src="<%= asset_path 'ema.png' %>" alt="dinastiya.kg"/>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="our_works" style='background-color: #f8f8f8; padding: 50px 0 60px;'>
  <div class="container">
    <h2><b>Наши</b> Работы</h2>
    <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
    <!-- WORKS SLIDER -->
    <div class="owl-demo owl-carousel projects_slider">

      <!-- work1 -->
      <div class="item">
        <a href="<%= asset_path 'works/1.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/1.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work1 -->

      <!-- work2 -->
      <div class="item">
        <a href="<%= asset_path 'works/14.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/14.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div><!-- //work2 -->

      <!-- work3 -->
      <div class="item">
        <a href="<%= asset_path 'works/3.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/3.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/11.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/11.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/5.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/5.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/6.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/6.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/7.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/7.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/8.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/8.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/9.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/9.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/10.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/10.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/4.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/4.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/12.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/12.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/13.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/13.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="<%= asset_path 'works/2.jpg' %>" rel="prettyPhoto[portfolio1]">
          <div class="work_item">
            <div class="work_img">
              <img src="<%= asset_path 'works/2.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="work_description">
              <div class="work_descr_cont">
                <span></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div><!-- //WORKS SLIDER -->
    </div>
  </div>
</section>

<!-- TEAM -->
<section id="clients" style='padding: 50px 0 50px;'>
    <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
      <!-- ROW -->
      <h2><b>Материалы</b> и Оборудование</h2>
      <div class="row" style='margin-top: 30px'>

        <a href="http://www.3m.com/3M/en_US/dental-us/procedure/direct-restorative-procedure/">
          <div class="col-lg-2 col-md-2 col-sm-2 client_img">
            <img src="<%= asset_path 'clients/1.jpg' %>" alt="filtek"/>
          </div>
        </a>

        <div class="col-lg-3 col-md-2 col-sm-2 client_img">
          <a href="http://www.anthogyr.com/" target="_blank">
            <img src="<%= asset_path 'clients/7.jpg' %>" alt="anthogyr"/>
          </a>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
          <a href="http://www.3m.com/" target="_blank">
            <img src="<%= asset_path 'clients/2.jpg' %>" alt="3m"/>
          </a>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
          <a href="http://www.voco.com/ru/products/index.html" target="_blank">
            <img src="<%= asset_path 'clients/3.jpg' %>" alt="voco"/>
          </a>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
          <a href="">
            <img src="<%= asset_path 'clients/4.jpg' %>" alt="charisma"/>
          </a>
        </div>


      </div><!-- //ROW -->
    </div>
</section>

<!-- TEAM -->
<section id="team">
  <div class="container">
    <h2><b>Наши</b> Специалисты</h2>

    <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">

      <!-- TEAM SLIDER -->
      <div class="owl-demo owl-carousel team_slider">

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/1.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Субучин Эмиль Рашитович</p>
                <span>Руководитель стоматологической клиники. Врач общего профиля, хирург, имплантолог</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/2.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Субучин Исмаил Рашитович</p>
                <span>Стоматолог общего профиля (терапевт, ортопед, хирург)</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/3.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Алиева Фарида Казымовна</p>
                <span>Стоматолог-терапевт(детский, взрослый)</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/6.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Насыров Тахир Вадимович</p>
                <span>Стоматолог-ортодонт</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/4.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Мачанлин Шакир Хасенович</p>
                <span>Стоматолог-гигиенист</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <div class="crewman_item">
            <div class="crewman">
              <img src="<%= asset_path 'team/5.jpg' %>" alt="dinastiya.kg"/>
            </div>
            <div class="crewman_descr center">
              <div class="crewman_descr_cont">
                <p>Лугма Халима</p>
                <span>Администратор</span>
              </div>
            </div>
            <div class="crewman_social">
              <!--<a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>-->
              <!--<a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- COMMENTS -->
<section id="news">
  <div class="container">
    <h2><b>Отзывы</b> Клиентов</h2>

    <div class="testimonials" data-appear-top-offset="-200" data-animated="fadeInUp">
      <div class="owl-demo owl-carousel testim_slider" style='padding-top: 0'>

        <div class="item">
          <div class="testim_content">“У меня дочка очень боялась лечить кариес. Нигде нам не могли помочь - не смогли найти подход к ребенку, она плакала, сползала с кресла. 6 лет ей тогда было... Я очень сильно нервничала по поводу этих невылеченных зубов, не знала что и делать... Алиева Фарида вылечила нам 4 зуба, в т.ч. глубокий кариес. Ходим к ней уже 2 года. Она прекрасный врач, и с детьми умеет общаться. Так что довольна я как слон. А зубки у нас очень плохие - гены...(((”
          </div>
          <div class="testim_author"> — Анна. <b>Мама</b></div>
        </div><!-- TESTIMONIAL1 -->

        <!-- TESTIMONIAL2 -->
        <div class="item">
          <div class="testim_content">“Огромная благодарность доктору Субучин Эмилю за профессионализм и терпение.”
          </div>
          <div class="testim_author"> — Ирина. <b>Студентка</b></div>
        </div><!-- TESTIMONIAL2 -->

        <!-- TESTIMONIAL3 -->
        <div class="item">
          <div class="testim_content">“Год назад пришла к ним первый раз. Постепенно восстанавливали все зубы, даже, которые прописали в других клиниках "на удаление". Очень приятная располагающая обстановка в клинике. Возможно кто-то скажет - дорого, поверьте, оно стоит того.”
          </div>
          <div class="testim_author"> — Бегимай. <b>Начальник отдела кадров</b></div>
        </div><!-- TESTIMONIAL3 -->

        <!-- TESTIMONIAL4 -->
        <div class="item">
          <div class="testim_content">“Зашел сюда случайно. Клиника приличная. Располагает! Хотел только пломбу поставить, но отходил пару месяцев, много чего поправил. Цены хорошие, не загибают. Спасибо врачу Исмаилу Рашитовичу!”
          </div>
          <div class="testim_author"> — Виктор Андреевич. <b>Логист</b></div>
        </div><!-- TESTIMONIAL4 -->

        <!-- TESTIMONIAL5 -->
        <div class="item">
          <div class="testim_content">“Был в нескольких стоматологиях. В каждой меня отправляли в следующую. Все дело в том, что у меня зуб мудрости растет в кости, то есть он как бы и растет, но вырасти, не может. Удалять его никто не хотел. Через номер на сайте я узнал, удаляют ли зубы мудрости в этой стоматологии. Что вы думаете, 20 минут и зуб был удален, правда болело еще немного, когда анестезия отошла.”
          </div>
          <div class="testim_author"> — Айдар. <b>Специалист отдела аналитики и планирования</b></div>
        </div><!-- TESTIMONIAL5 -->

        <!-- TESTIMONIAL6 -->
        <div class="item">
          <div class="testim_content">“Я сам россиянин, но родом с Иссык-Куля. Периодически приезжаю в отпуск. В какой-то момент понял, что скоро останусь без зубов. В Челябинске такую сумму за все попросили, что аж глаза на лоб полезли. Ладно думаю, посмотрим, что в Бишкеке. Приехал, знакомые подсказали сходить в Династию. Как результат - 3 недели отпуска и полный рот новых зубов! Цены конечно немного выше, чем в государственных здесь, но результат того стоит. Молодцы!”
          </div>
          <div class="testim_author"> — Валерий Витальевич. <b>Монтажник стальных и железобетонных конструкций 6 разряда</b></div>
        </div><!-- TESTIMONIAL6 -->

        <!-- TESTIMONIAL7 -->
        <div class="item">
          <div class="testim_content">“Хорошо сделали коренной зуб! Сначала хотел просто удалить и не мучиться, но врач сказал, что сделает как новый. Все почистили, нервы удалили, штифт вставили, запломбировали - реально как новый). Не ожидал если честно! Очень доволен!”
          </div>
          <div class="testim_author"> — Шабдан. <b>Программист</b></div>
        </div><!-- TESTIMONIAL7 -->

         <!-- TESTIMONIAL8 -->
        <div class="item">
          <div class="testim_content">“Порадовали ребята, хорошо сделали! Отлично работают, старших уважают! Еще скидку сделали мне. Спасибо! Пусть много клиентов к вам приходит.”
          </div>
          <div class="testim_author"> — Исмаил Джунушевич. <b>Пенсионер</b></div>
        </div><!-- TESTIMONIAL8 -->

        <!-- TESTIMONIAL9 -->
        <div class="item">
          <div class="testim_content">“Большое спасибо за сервис и внимание. Особенно хотелось бы отметить работу
            администратора - очень комфортная и уютная атмосфера. Теперь буду лечиться у вас!”
          </div>
          <div class="testim_author"> — Самат. <b>Экономист</b></div>
        </div><!-- TESTIMONIAL9 -->


      </div><!-- TESTIMONIALS SLIDER -->
    </div><!-- //TESTIMONIALS -->

    <!-- RECENT POSTS -->
    <%# render 'landing/posts' %>
    <!-- RECENT POSTS -->
  </div>
</section>

<%= render 'landing/appointment_modal' %>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('[data-modal="appointment"]').on('click', function (e) {
      e.preventDefault();
      $('.ui.modal')
          .modal('show');
    });
  });
</script>
