<div class="ui form width changed" id="datepicker_identifier">
  <div class="create_appointment_for_new_patient">
      <% @user.build_patient if @user.patient.nil? %>
      <%= form_for(@user, html: {class: 'ui equal width form'}) do |f| %>

        <div class="two fields">
          <div class="field">
            <label>Имя</label>
            <%= f.text_field :name, placeholder: 'Введите имя пациента', name: 'name' %>
          </div>

          <div class="field">
            <label>Фамилия</label>
            <%= f.text_field :surname, placeholder: 'Введите фамилию пациента', name: 'surname' %>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Почта</label>
            <%= f.email_field :email, placeholder: 'E-mail пациента' %>
          </div>

          <%= f.fields_for :patient do |patient| %>
              <div class="field">
                <label>Телефон</label>
                <%= patient.text_field :phone, placeholder: 'Телефонный номер пациента',
                                       name: 'phone' %>
              </div>
          <% end %>
        </div>

        <div class="two fields">
          <%= f.fields_for :patient do |patient| %>
              <div class="field">
                <label>Возраст</label>
                <%= patient.text_field :age, placeholder: 'Возраст пациента',
                                       name: 'age' %>
              </div>
          <% end %>

          <div class="field">
            <%= f.fields_for :appointments do |appointment| %>
                <label>Доктор</label>
                <%= appointment.select :doctor_id, Appointment.appointment_participants(Doctor.new),
                                       {prompt: 'Выберите доктора на прием'},
                                       { class: 'ui search fluid dropdown', name: 'doctor_id'} %>
            <% end %>
          </div>
        </div>

        <div class="two fields">
          <%= f.fields_for :appointments do |appointment| %>
              <div class="field">
                <label>Дата осмотра</label>
                <%= appointment.text_field :appointment_date, 'data-behaviour' => 'datepicker',
                                           placeholder: 'Выберите дату', name: 'appointment_date' %>
              </div>

              <div class="field">
                <label>Время осмотра</label>
                <%= appointment.time_select :start_time,
                                            {start_hour: 8, end_hour: 18, minute_step: 15},
                                            {class: 'ui search dropdown'} %>
              </div>
          <% end %>
        </div></br>

        <div class="ui buttons", id="edit_form_style">
          <%= f.submit '    Создать осмотр   ', class: "ui blue button" %>
          <div class="or"></div>
          <%= link_to 'Вернуться к списку', appointments_path, class: "ui negative button" %>
        </div>

      <% end %>
  </div>
</div>