<div class="ui form width", id="edit_form_style">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#new" aria-controls="new" role="tab" data-toggle="tab">
        <div id="left_tab_style">
          <b>Для нового пациента</b>
        </div>
      </a>
    </li>

    <li role="presentation">
      <a href="#exists" aria-controls="exists" role="tab" data-toggle="tab">
        <div id="right_tab_style">
          <b>Для существующего пациента</b>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="tab-content"></br>
  <div role="tabpanel" class="tab-pane active" id="new">
    <h4 class="ui block header" id="edit_form_style">
      Данная форма используется, если клиент посещает клинику в первый раз.
    </h4></br>
    <%= render '/administration/users/new_patient_appointment' %>
  </div>

  <div role="tabpanel" class="tab-pane" id="exists">
    <h4 class="ui block header" id="edit_form_style">
      Данная форма используется, если клиент уже является пациентом клиники.
    </h4></br>

    <% provide(:button, '   Создать осмотр   ') %>
    <% provide(:message, 'Создание нового осмотра') %>
    <% provide(:doctor_prompt, 'Выберите доктора') %>
    <% provide(:patient_prompt, 'Выберите пациента') %>
    <% provide(:date_placeholder, 'Дата осмотра') %>
    <%= render 'administration/appointments/form_for_appointment' %>
  </div>
</div>
