<th>
  <%= sortable("patient_surname", 'Пациент') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'patient_surname' %>
      <%= link_to appointments_path(sort: 'surname', direction: 'desc'), remote: true do %>
          <i class="sort alphabet ascending icon"></i>
      <% end %>

      <%= link_to appointments_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'patient_surname' %>
      <%= link_to appointments_path(sort: 'surname', direction: 'asc'), remote: true do %>
          <i class="sort alphabet descending icon"></i>
      <% end %>

      <%= link_to appointments_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to appointments_path(sort: 'patient_surname', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>