<%= link_to appointments_path, class: 'item' do %>
  <i class="first aid icon"></i>
  Первичные осмотры
<% end %>

<%= link_to patients_path, class: 'item' do %>
  <i class="users icon"></i>
  Пациенты
<% end %>

<%= link_to doctors_path, class: 'item' do %>
  <i class="doctor icon"></i>
  Доктора
<% end %>

<div class="menu">
  <div class="ui dropdown item">
    <i class="dollar icon"></i>
      Прейскурант
    <i class="dropdown icon"></i>

    <div class="menu">
      <%= link_to price_list_categories_path, class: 'item' do %>
        <i class="list layout icon"></i>
        <b>Категории</b>
      <% end %>

      <%= link_to procedures_path, class: 'item' do %>
        <i class="first aid icon"></i>
        <b>Процедуры</b>
      <% end %>

      <%= link_to age_types_path, class: 'item' do %>
        <i class="warning circle icon"></i>
        <b>Возраста</b>
      <% end %>
    </div>

  </div>
</div>

<div class="menu">
  <div class="ui dropdown item">
    <i class="info circle icon"></i>
      Дополнительно
    <i class="dropdown icon"></i>

    <div class="menu">
      <%= link_to videos_path, class: 'item' do %>
          <i class="youtube icon"></i>
          <b>Видео</b>
      <% end %>

      <%= link_to articles_path, class: 'item' do %>
          <i class="file text outline icon"></i>
          <b>Статьи</b>
      <% end %>

      <%= link_to feedbacks_path, class: 'item' do %>
          <i class="reply all icon"></i>
          <b>Обратная связь</b>
      <% end %>

      <%= link_to messages_path, class: 'item' do %>
          <i class="mail outline icon"></i>
          <b>SMS-сообщения</b>
      <% end %>
    </div>

  </div>
</div>

<%= link_to calendar_index_path, class: 'item' do %>
    <i class="calendar icon"></i>
    Календарь
<% end %>
