<%= link_to appointments_path, class: 'item' do %>
  <i class="first aid icon"></i>
  Первичные осмотры
<% end %>

<%= link_to patients_path, class: 'item' do %>
  <i class="users icon"></i>
  Пациенты
<% end %>

<div class="menu">
  <div class="ui dropdown item">
    <i class="dollar icon"></i>
      Прейскурант
    <i class="dropdown icon"></i>

    <div class="menu">
      <%= link_to price_list_categories_path, class: 'item' do %>
        <i class="list layout icon"></i>
        <b>Категории</b>
      <% end %>

      <%= link_to procedures_path, class: 'item' do %>
        <i class="first aid icon"></i>
        <b>Процедуры</b>
      <% end %>

      <%= link_to age_types_path, class: 'item' do %>
        <i class="warning circle icon"></i>
        <b>Возраста</b>
      <% end %>
    </div>

  </div>
</div>

<%= link_to calendar_index_path, class: 'item' do %>
    <i class="calendar icon"></i>
    Календарь
<% end %>

<%= link_to articles_path, class: 'item' do %>
    <i class="file text outline icon"></i>
    Статьи
<% end %>

