<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>№</th>
    <th>Автор</th>
    <th>Email</th>
    <th>Телефон</th>
    <th>Сообщение</th>
    <th colspan='2' class="centred_for_two_cells">Действия</th>
  </tr>

  <% counter = 0 %>
  <% if @feedbacks %>
      <% @feedbacks.each do |feedback| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>
            <td class="middle aligned"><%= feedback.name %></td>
            <td class="middle aligned"><%= feedback.email %></td>
            <td class="middle aligned"><%= feedback.phone %></td>
            <td class="middle aligned"><%= feedback.message %></td>
            <td class="middle aligned"><%= link_to show_message(feedback), update_status_feedbacks_path(feedback) %></td>
            <td class="middle aligned"> <%= feedback.show %></td>
          </tr>
      <% end %>
  <% end %>
</table>