<h3 class="ui left floated header">Обратная связь пациентов</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= @feedbacks.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="after_search_rendered_table">
  <%= render 'feedback_index_table' %>
</div>

<% if @feedbacks.empty? %>
    <h4 class="ui red block header">
      На данный момент список пуст
    </h4>
<% end %>