<th>
  <%= sortable("title", 'Категории услуг') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'title' %>
      <%= link_to price_list_categories_path(sort: 'title', direction: 'desc'), remote: true do %>
          <i class="sort alphabet ascending icon"></i>
      <% end %>

      <%= link_to price_list_categories_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'title' %>
      <%= link_to price_list_categories_path(sort: 'title', direction: 'asc'), remote: true do %>
          <i class="sort alphabet descending icon"></i>
      <% end %>

      <%= link_to price_list_categories_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to price_list_categories_path(sort: 'title', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>