<table class="ui selectable celled black table", id="centred_table">
  <tr>
    <th>№</th>
    <th><i class="warning circle icon"></i>Наименование категории</th>
    <th><i class="exchange icon"></i>Возрастные границы</th>
    <% if current_user.admin? %>
        <th colspan="2", class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>
  <% if @age_types %>
      <% @age_types.each do |age_type| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>
            <td class="middle aligned"><%= age_type.title %></td>
            <td class="middle aligned"><%= "#{age_type.lower_age} - #{age_type.upper_age}" %></td>

            <% if current_user.admin? %>
                <td class="middle aligned">
                  <a href="#", data-toggle="modal" data-target="#update_age_type-<%= age_type.id %>">
                    <i class="write icon width_color_changed large"></i>
                  </a>

                  <%= render partial: 'administration/age_types/modal_for_updating_age_type', locals: {age_type: age_type} %>
                </td>

                <% if age_type.constant_name.present? %>
                    <td class="middle aligned">
                      <i class="icons">
                        <i class="trash icon width_color_changed large"></i>
                        <i class="large red dont icon"></i>
                      </i>
                    </td>
                <% else %>
                    <td class="middle aligned"><%= link_to age_type_path(age_type),
                                                           data: {confirm: "Вы уверены что хотите удалить категорию: #{age_type.title}, из системы?"},
                                                           method: :delete do %>
                          <i class="trash icon width_color_changed large"></i>
                      <% end %>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>
