<div class="ui form width changed">
  <div class="edit_age_type">
      <%= form_for(age_type, html: {class: 'ui equal width form'}) do |f| %>

          <h4 class="ui dividing header"><%= 'Редактирование возрастной категории' %></h4></br>

          <div class="field">
            <label>Наименование</label>
            <%= f.text_field :title, placeholder: 'Наименование возрастной категории', name: 'title' %>
          </div></br>

          <div class="two fields">
            <div class="field">
              <label>Нижняя граница возраста</label>
              <%= f.text_field :lower_age, placeholder: 'Введите возраст (цифра)', name: 'lower_age' %>
            </div>

            <div class="field">
              <label>Верхняя граница возраста</label>
              <%= f.text_field :upper_age, placeholder: 'Введите возраст (цифра)', name: 'upper_age' %>
            </div>
          </div></br>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit 'Обновить категорию', class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', age_types_path, class: "ui negative button" %>
          </div>

      <% end %>
  </div>
</div>