<div class="modal fade" id="update_age_type-<%= age_type.id %>" tabindex="-1" role="dialog" aria-labelledby="update_age_typeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/age_types/edit', locals: {age_type: age_type} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>