<div class="left menu">
  <div class="item", id="item_left_padding">

    <button type="button" class="ui blue button" data-toggle="modal" data-target="#new_age_type">
      <i class="checkmark box icon"></i>
      Добавить категорию
    </button>

    <div class="modal fade" id="new_age_type" tabindex="-1" role="dialog" aria-labelledby="new_age_typeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <%= render 'administration/age_types/form_for_age_type' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>