<h3 class="ui left floated header">Возрастные категории пациентов</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= AgeType.all.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <% if current_user.admin? %>
      <%= render 'modal_for_creating_age_type' %>
  <% end %>
  <%= render 'age_types_search_field' %>
</div>

<div class="after_search_rendered_table">
    <%= render 'age_types_index_table' %>
</div>

<% if @age_types.nil? %>
    <h4 class="ui red block header">
      На данный момент список возрастных категорий пуст.
    </h4>
<% end %>