<th>
  <%= sortable("price", 'Общая цена') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'price' %>
      <%= link_to patient_path(patient, sort: 'price', direction: 'desc'), remote: true do %>
          <i class="sort content ascending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'price' %>
      <%= link_to patient_path(patient, sort: 'price', direction: 'asc'), remote: true do %>
          <i class="sort content descending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to patient_path(patient, sort: 'price', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>