<th>
  <%= sortable("treatment_date", 'Дата приема') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'treatment_date' %>
      <%= link_to patient_path(patient, sort: 'treatment_date', direction: 'desc'), remote: true do %>
          <i class="sort content ascending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'treatment_date' %>
      <%= link_to patient_path(patient, sort: 'treatment_date', direction: 'asc'), remote: true do %>
          <i class="sort content descending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to patient_path(patient, sort: 'treatment_date', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>