<th>
  <%= sortable("doctor_surname", 'Доктор') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'doctor_surname' %>
      <%= link_to patient_path(patient, sort: 'surname', direction: 'desc'), remote: true do %>
          <i class="sort alphabet ascending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'doctor_surname' %>
      <%= link_to patient_path(patient, sort: 'surname', direction: 'asc'), remote: true do %>
          <i class="sort alphabet descending icon"></i>
      <% end %>

      <%= link_to patient_path(patient), remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to patient_path(patient, sort: 'doctor_surname', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>