<div class="right menu">
  <div class="item" id="item_right_padding">
    <div class="ui action input">
      <%= form_tag url_for(:controller => 'administration/searches', :action => 'by_types'), method: "get", remote: true do %>
          <%= hidden_field_tag :search_type, 'articles' %>
          <%= text_field_tag :search_query, params[:search_query], placeholder: "Поиск..." %>
      <% end %>
    </div>
  </div>
</div>