<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>№</th>
    <th>Изображение</th>
    <th>Название</th>
    <% if current_user.admin? %>
        <th>Автор</th>
    <% end %>
    <th>Текст статьи</th>
    <th colspan='2' class="centred_for_two_cells">Действия</th>
  </tr>

  <% counter = 0 %>
  <% if @articles %>
      <% @articles.each do |article| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned">
              <h4 class="ui image header">
                <% if article.image.present? %>
                    <%= image_tag article.image.tiny, class: "ui tiny rounded image" %>
                <% else %>
                    <%= image_tag 'default_article.jpg', class: "ui tiny rounded image"  %>
                <% end %>
              </h4>
            </td>

            <td class="middle aligned"><%= article.title %></td>
            <% if current_user.admin? %>
                <td class="middle aligned"><%= article.doctor.fullname %></td>
            <% end %>
            <td class="middle aligned"><%= article.content %></td>

            <td class="middle aligned">
              <a href="#" data-toggle="modal" data-target="#update_article-<%= article.id %>">
                   <i class="write icon width_color_changed large"></i>

              </a>
              <%= render partial: 'administration/articles/modal_for_updating_article', locals: {article: article} %>
            </td>

            <td class="middle aligned"><%= link_to article_path(article),
                                                   data: {confirm: "Вы уверены что хотите удалить статью из системы?"},
                                                   method: :delete do %>
                  <i class="trash icon width_color_changed large"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>