<div class="ui form width changed">
  <div class="edit_article">
      <%= form_for(article, action: :edit, html: {class: 'ui equal width form'}) do |f| %>

        <h4 class="ui dividing header"><%= yield(:message) %></h4></br>

        <div class="two fields">
          <div class="field">
            <label>Название</label>
            <%= f.text_field :title, placeholder: 'Название статьи', name: 'title' %>
          </div>

          <div class="field">
            <label>Автор</label>
            <%= f.select :doctor_id, Article.article_author(current_user),
                         {prompt: 'Выберите одного из докторов'},
                         {class: 'ui search fluid dropdown', name: 'doctor_id'} %>
          </div>
        </div>

        <div class="field" id="right_padding">
          <label>Содержание</label>
          <%= f.text_area :content, placeholder: 'Содержание статьи', name: 'content' %>
        </div>

        <div class="field">
          <label>Изображение</label>
          <%= f.file_field :image, name: 'image' %>
          <%= f.hidden_field :image_cache %>
        </div></br>

        <div class="ui buttons" id="edit_form_style">
            <%= f.submit 'Обновить статью', class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', articles_path, class: "negative ui button" %>
        </div>
      <% end %>
  </div>
</div>