<div class="modal fade" id="update_article-<%= article.id %>" tabindex="-1" role="dialog" aria-labelledby="update_articleLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <% provide(:message, 'Редактирование статьи') %>

        <%= render partial: 'administration/articles/edit', locals: {article: article} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>