<div class="left menu">
  <div class="item" id="item_left_padding">

    <button type="button" class="ui blue button" data-toggle="modal" data-target="#article">
      <i class="add file text outline icon"></i>
      Создать новую статью
    </button>

    <div class="modal fade" id="article" tabindex="-1" role="dialog" aria-labelledby="articleLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <% provide(:button, 'Создать статью') %>
            <% provide(:message, 'Создание статьи') %>

            <%= render 'administration/articles/form_for_article' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>