<h3 class="ui left floated header">Список статей</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= @articles.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary  menu">
  <%= render 'administration/articles/modal_for_creating_article' %>
  <%= render 'administration/articles/articles_search_field' %>
</div>

<div class="after_search_rendered_table">
  <%= render 'administration/articles/articles_index_table' %>
</div>

<% if @articles.empty? %>
    <h4 class="ui red block header">
      На данный момент список статей пуст.
    </h4>
<% end %>