<div class="ui inverted segment" style="width: 550px; margin: 0 auto; margin-top: 50px">
  <div class="ui inverted form" style="width: 550px; margin: 0 auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                   html: {class: 'ui equal width form'}) do |f| %>

          <div class="field">
            <div class="two fields">
              <div class="field">
                <label>Email</label>
                <%= f.email_field :email, placeholder: 'Введите Вашу почту' %>
              </div>

              <div class="field">
                <label>Пароль</label>
                <%= f.password_field :password, placeholder: 'Введите Ваш пароль' %>
              </div>
            </div>
          </div>

          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <% if devise_mapping.rememberable? %>
              <label>Запомнить меня</label>
              <%= f.check_box :remember_me %>
            <% end %>
          </div>

          <%= f.submit 'Войти', class: "positive fluid ui button" %></br>
      <% end %>
  </div>
</div>