<div class="ui form width changed">
  <%= form_for(@personal_card, html: {class: 'ui equal width form'}) do |f| %>

    <h4 class="ui dividing header">Редактирование амбулаторных данных пациента</h4>

    <div class="field">
      <label>Перенесенные заболевания</label>
      <%= f.text_field :disease, placeholder: 'Укажите заболевания если были таковые' %>
    </div>

    <div class="field">
      <label>Лекарственная или иная аллергия</label>
      <%= f.text_field :allergy, placeholder: 'Укажите при наличии' %>
    </div>

    <div class="field">
      <label>Прием лекарств в настоящее время</label>
      <%= f.text_field :medicine, placeholder: 'Укажите наименования препаратов' %>
    </div>

    <div class="field">
      <label>Кровотечения после хирургических процедур или ранений</label>
      <%= f.text_field :bleeding, placeholder: 'Укажите при наличии' %>
    </div>

    <% if @personal_card.patient.gender == 'female' or @personal_card.patient.gender.nil? %>
      <h5 class="ui dividing header">Для женщин</h5>
      <div class="two fields">
        <div class="field">
          <label>Беременность</label>
          <%= f.select :pregnancy, [['Да', true], ['Нет', false]], {prompt: 'Выберите'},
                         class: 'ui search fluid dropdown' %>
        </div>

        <div class="field">
          <label>Срок беременности</label>
          <%= f.text_field :gestational_age, placeholder: 'Укажите срок' %>
        </div>
      </div>
    <% end %>

    <div class="ui buttons", id="edit_form_style">
      <%= f.submit 'Обновить данные', class: "ui blue button" %>
      <div class="or"></div>
      <%= link_to 'Вернуться к списку', patient_personal_cards_path(@personal_card.patient), class: "negative ui button" %>
    </div>

  <% end %>
</div>