<div class="modal fade" id="update_personal_card-<%= @personal_card.id %>" tabindex="-1" role="dialog" aria-labelledby="update_personal_cardLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/personal_cards/edit' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Выйти</button>
      </div>
    </div>
  </div>
</div>