<%= image_tag("parodontology_cart.jpg", height: '444', width: '750') %>
<h4 class="ui dividing header">Рабочие сокращения</h4>

<div class="two fields">
  <div class="ui grid">
    <div class="seven wide column">
      <div class="ui list" style="margin-left: 15px">
        <div class="item"><b>А</b> - парадонтит (I,II,III,IV)</div>
        <div class="item"><b>С</b> - кариес</div>
        <div class="item"><b>Р</b> - пульпит</div>
        <div class="item"><b>Р*</b> - периодонтит</div>
        <div class="item"><b>Rx</b> - корень</div>
        <div class="item"><b>О</b> - отсутствующий зуб</div>
        <div class="item"><b>П</b> - пломба</div>
        <div class="item"><b>По</b> - несоответствующая требованиям пломба</div>
        <div class="item"><b>К</b> - искусственная коронка</div>
        <div class="item"><b>И</b> - искусственный зуб</div>
        <div class="item"><b>ОД</b> - очаговая деминерализация</div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui list" style="margin-left: 15px">
        <div class="item"><b>V</b> - витальный</div>
        <div class="item"><b>D</b> - девитальный</div>
        <div class="item"><b>OD</b> - очаговая деминерализация</div>
        <div class="item"><b>F</b> - пломба</div>
        <div class="item"><b>H</b> - пломба</div>
        <div class="item"><b>Rs</b> - реставрация</div>
        <div class="item"><b>Ps</b> - штифт</div>
        <div class="item"><b>Ex</b> - отсутствующий зуб</div>
        <div class="item"><b>K</b> - коронка</div>
        <div class="item"><b>U</b> - искусственный зуб</div>
        <div class="item"><b>MK</b> - коронка "Стомкейр"</div>
      </div>
    </div>
  </div>
</div><br>