<div class="personal_card_points">
  <ol>
    <li><b>ФИО: </b><%= link_to patient.fullname, patient_path(patient) %></li>
    <li><b>Число, месяц, год рождения: </b></li>
    <li><b>Телефон: </b><%= patient.phone %></li>

    <li><b>Какие из перечисленных заболеваний Вы перенесли: ревматизм, гепатит, туберкулез,
      эндокринные заболевания, ВИЧ, нервные заболевания, сердечнососудистые (гипотония, гипертония),
      другие: </b>
      <div class="diseases">
        <% diseases = patient.personal_card.disease %>
        <%= diseases.present? ? diseases : 'Указанными, либо другими заболеваниями не болел' %>
        <hr>
      </div>
    </li>

    <li><b>Имеется ли у Вас лекарственная или иная аллергия (если есть, то на что)</b>
      <div class="allergy">
        <% allergy = patient.personal_card.allergy %>
        <%= allergy.present? ? allergy : 'Сведений об аллергических реакциях нет' %>
        <hr>
      </div>
    </li>

    <li><b>Принимаете ли Вы какие-либо лекарства в настоящее время</b>
      <div class="medicine">
        <% medicine = patient.personal_card.medicine %>
        <%= medicine.present? ? medicine : 'Нет' %>
        <hr>
      </div>
    </li>

    <li><b>Возникали ли у Вас длительные кровотечения после хирургических процедур или ранений</b>
      <div class="bleeding">
        <% bleeding = patient.personal_card.bleeding %>
        <%= bleeding.present? ? bleeding : 'Нет' %>
        <hr>
      </div>
    </li>

    <% if patient.gender == 'female' or patient.gender.nil? %>
        <li><b>Для женщин. Беременны ли Вы (срок)</b>
          <div class="pregnancy">
            <% pregnancy = patient.personal_card.pregnancy %>
            <%= pregnancy == true ? 'Да' : 'Нет' %>
              <% if patient.personal_card.gestational_age %>
                Срок беременности: <%= patient.personal_card.gestational_age %>
              <% end %>
            <hr>
          </div>
        </li>
    <% end %>
  </ol>
</div>