<div class="treatment_result_points">
  <ol>
    <li><b>Жалобы пациента: </b>
      <div class="complaints">
        <% complaints = treatment.complaint %>
        <%= complaints.present? ? complaints : 'Жалобы не зафиксированы' %>
        <hr>
      </div>
    </li>

    <li><b>Статус до лечения: </b>
      <% if current_user.admin? %>
          <a href="#", data-toggle="modal" data-target="#update_treatment_statuses-<%= treatment.id %>" style="margin-left: 5px">
            <i class="write icon width_color_changed"></i>
          </a>
          <%= render partial: 'administration/treatments/modal_for_updating_treatment_statuses', locals: { treatment: treatment } %>
      <% end %>

      <div class="before_treatment_status">
        <% before_treatment_status = treatment.before_treatment_status %>
        <%= before_treatment_status.present? ? before_treatment_status : 'Не заполнен' %>
        <hr>
      </div>
    </li>

    <li><b>Лечение: </b>
      <% if current_user.admin? %>
          <a href="#", data-toggle="modal" data-target="#update_treatment_statuses-<%= treatment.id %>" style="margin-left: 5px">
            <i class="write icon width_color_changed"></i>
          </a>
          <%= render partial: 'administration/treatments/modal_for_updating_treatment_statuses', locals: { treatment: treatment } %>
      <% end %>

      <div class="treatment_process">
        <% treatment_process = treatment.treatment_process %>
        <%= treatment_process.present? ? treatment_process : 'Не заполнено' %>
        <hr>
      </div>
    </li>
  </ol>
</div><br>

<table class="ui selectable celled table" id="centred_table">
  <tr>
    <th>№</th>
    <th>Доктор</th>
    <th>Процедура</th>
    <th>Зуб</th>
    <th>Стоимость</th>
  </tr>

  <% counter = 0 %>
  <% personal_card_details = TreatmentDetail.hosted_treatments patient, treatment_date: treatment.treatment_date %>

  <% unless personal_card_details.empty? %>
      <% personal_card_details.each do |treatment_detail| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>
            <td class="middle aligned"><%= treatment_detail.doctor.fullname %></td>
            <td class="middle aligned"><%= treatment_detail.procedure.title %></td>
            <td class="middle aligned"><%= treatment_detail.tooth %></td>
            <td class="middle aligned"><%= "#{treatment_detail.price.to_i.round(0)}" + " сом" %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<h4 class="ui right floated header">
  Общая сумма:
  <%= personal_card_details.sum(:price).to_i %> сом
</h4>