<h3 class="ui left floated header">
  Амбулаторная медицинская карта пациента
</h3>

<div class="ui right floated header">
  <span class="personal_card_updated_date">
    Последнее обновление карты: <%= l @personal_card.updated_at, format: ("%d %B %Y") %>
  </span>

  <% if current_user.admin? %>
      <a href="#", data-toggle="modal" data-target="#update_personal_card-<%= @personal_card.id %>">
        <i class="write icon width_color_changed"></i>
      </a>

      <%= link_to history_personal_cards_path(@personal_card.patient), target: '_blank' do %>
          <i class="file pdf outline icon width_color_changed" style="margin-left: 5px"></i>
      <% end %>
  <% end %>
</div>
<%= render partial: 'administration/personal_cards/modal_for_updating_personal_card' %>

<div class="ui dividing header"></div>

<% patient = @personal_card.patient %>
<div class="ui grid" style="margin-top: 0px">

    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="active item" data-tab="first"><h4>Личные данные</h4></a>
        <a class="item" data-tab="second"><h4>Пародонтальная карта</h4></a>

        <% counter = 0 %>
        <% treatments = hosted_treatments patient %>
        <% treatments.each do |treatment| %>
          <a class="item" data-tab="<%= counter += 1 %>">
            <h4>Прием от <%= l treatment.treatment_date, format: ("%d %B %Y") %></h4>
          </a>
        <% end %>
      </div>
    </div>

    <div class="twelve wide stretched column">
      <div class="ui bottom attached tab active" data-tab="first">
        <%= render partial: 'administration/personal_cards/personal_information', locals: { patient: patient } %>
      </div>

      <div class="ui tab" data-tab="second">
        <%= render partial: 'administration/personal_cards/parodontology_cart' %>
      </div>

      <% counter = 0 %>
      <% treatments.each do |treatment| %>
          <div class="ui tab" data-tab="<%= counter += 1 %>">
            <%= render partial: 'administration/personal_cards/personal_card_details_listing',
                       locals: { patient: patient, treatment: treatment } %>
          </div>
      <% end %>
    </div>
</div>
