<table class="ui selectable celled black table", id="centred_table">
  <tr>
    <th>Статус</th>
    <th>№</th>
    <th>
      ФИО доктора
      <i class="sort icon"></i>
    </th>
    <th>
      <i class="at icon"></i>
      E-mail
    </th>
    <th colspan='2', class="centred_for_two_cells">Приемы</th>
    <th>Календарь</th>
    <th>Сегодня</th>
    <th colspan="3">Действия</th>
  </tr>
</table>

<div>
  <h4 class="ui red block header">
    Очень жаль! По Вашему запросу ничего не найдено.
  </h4>
</div>
