<% if @results.present? %>
    <% if @type == 'doctors' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/doctors/doctors_index_table' %>");

    <% elsif @type == 'patients' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/patients/patients_index_table' %>");

    <% elsif @type == 'age_types' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/age_types/age_types_index_table' %>");

    <% elsif @type == 'appointments' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/appointments/appointments_index_table' %>");

    <% elsif @type == 'articles' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/articles/articles_index_table' %>");

    <% elsif @type == 'conditional_appointments' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/conditional_appointments/conditional_appointments_index_table' %>");

    <% elsif @type == 'price_list_categories' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/price_list_categories/price_list_categories_index_table' %>");

    <% elsif @type == 'procedures' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/procedures/procedures_index_table' %>");

    <% elsif @type == 'videos' %>
        $('.after_search_rendered_table').html("<%= j render partial: 'administration/videos/videos_index_table' %>");
    <% end %>

<% else %>
    $('.after_search_rendered_table').html("<%= j render partial: 'administration/searches/no_results_found' %>");
<% end %>

$(document).ready(function () {
    $('.ui.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
    $('.ui.accordion').accordion();
    $('.secondary.menu .item').tab();
});