<table class="ui selectable celled black table" id="centred_table">
  <tr class="table_title">
    <th>Статус</th>
    <th>№</th>
    <th>Ожидание</th>
    <%= render partial: 'administration/conditional_appointments/sorting/by_patient_surname' %>
    <th>Возраст</th>
    <th>E-mail</th>
    <% if current_user.admin? %>
      <th>Доктор</th>
    <% end %>
    <%= render partial: 'administration/conditional_appointments/sorting/by_appointment_date' %>
    <% if current_user.admin? %>
        <th colspan="3", class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>

  <% if @conditional_apps %>
      <% @conditional_apps.each do |appointment| %>
          <tr>
            <td class="middle aligned">
              <% status = show_statuses appointment %>
              <div class="ui <%= status[0] %> ribbon label"><%= status[1] %></div>
            </td>
            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned">
              <% start_time = appointment.processed_time.present? ? appointment.processed_time : Time.now %>
              <%= appointment.time_diff start_time %>
            </td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <div class="content">
                  <%= appointment.fullname %>
                  <div class="sub header"><%= appointment.phone %></div>
                </div>
              </h4>
            </td>

            <td class="middle aligned">
              <% age = appointment.age %>
              <%= age.present? ? age : 'Отсутствует' %>
            </td>

            <td class="middle aligned">
              <% email = appointment.email %>
              <%= email.present? ? email : 'Отсутствует' %>
            </td>

            <% if current_user.admin? %>
                <td class="middle aligned" style="padding: 6px">
                  <% doctor = appointment.doctor %>
                  <h4 class="ui image header">
                    <div class="content">
                      <% if doctor  %>
                        <%= link_to doctor.fullname, doctor_path(doctor) %>
                        <div class="sub header"><%= doctor.phone %></div>
                      <% end %>
                    </div>
                  </h4>
                </td>
            <% end %>

            <td class="middle aligned" style="padding: 6px">
              <% if appointment.appointment_date %>
                  <h4 class="ui image header">
                    <div class="content">
                      <%= l appointment.appointment_date, format: ("%d %B %Y") %>
                      <div class="sub header">
                        <%= "#{appointment.start_time.strftime('%H:%M')}" if appointment.start_time%>
                      </div>
                    </div>
                  </h4>
              <% end %>
            </td>

            <% if current_user.admin? %>
                <% if appointment.doctor %>
                    <td class="middle aligned"><i class="options icon width_color_changed large disabled"></i></td>
                    <td class="middle aligned"><i class="write icon width_color_changed large disabled"></i></td>

                <% elsif appointment.canceled? and appointment.doctor.nil? %>
                    <%= render partial: 'administration/conditional_appointments/statuses', locals: {appointment: appointment} %>
                    <td class="middle aligned"><i class="write icon width_color_changed large disabled"></i></td>

                <% else %>
                    <%= render partial: 'administration/conditional_appointments/statuses', locals: {appointment: appointment} %>
                    <td class="middle aligned"><%= link_to edit_conditional_appointment_path(appointment) do %>
                          <i class="write icon width_color_changed large"></i>
                      <% end %>
                    </td>
                <% end %>

                <td class="middle aligned"><%= link_to conditional_appointment_path(appointment),
                                                       data: {confirm: "Вы уверены что хотите удалить предварительную запись на прием из системы?"},
                                                       method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>
            <% end %>

          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @conditional_apps, :remote => true %>