<div class="modal fade" id="conditional_app-<%= conditional_appointment.id %>" tabindex="-1" role="dialog" aria-labelledby="conditional_appLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'edit_app', locals: {conditional_appointment: conditional_appointment} %>
      </div>

      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>