<td class="middle aligned">
  <div class="dropdown_center_showing">
    <div class="ui dropdown">
        <i class="options icon width_color_changed large"></i>
        <div class="menu">
          <div class="header">
            <i class="tags icon"></i>
            Статус записи на осмотр
          </div>

          <div class="scrolling menu">
            <%= link_to change_status_conditional_appointment_path(appointment, status: 'canceled'), class: 'item' do %>
                <div class="ui black empty circular label"></div>
                Отменена
            <% end %>

            <%= link_to change_status_conditional_appointment_path(appointment, status: 'waiting'), class: 'item' do %>
                <div class="ui green empty circular label"></div>
                Новая
            <% end %>
          </div>

        </div>
      </div>
  </div>
</td>