<div class="ui form width changed" id="datepicker_identifier">
  <div class="edit_conditional_appointment">
      <%= form_for @conditional_app, html: {class: 'ui equal width form'} do |f| %>

          <h4 class="ui dividing header">Редактирование предварительной записи на осмотр</h4></br>

          <div class="two fields">
            <div class="field">
              <label>Имя</label>
              <%= f.text_field :name, placeholder: 'Имя пациента', name: 'name' %>
            </div>

            <div class="field">
              <label>Фамилия</label>
              <%= f.text_field :surname, placeholder: 'Фамилия пациента', name: 'surname' %>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Почта</label>
              <%= f.email_field :email, placeholder: 'E-mail адрес пациента' %>
            </div>

            <div class="field">
              <label>Телефон</label>
              <%= f.text_field :phone, placeholder: 'Телефонный номер пациента', name: 'phone' %>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Возраст</label>
              <%= f.text_field :age, placeholder: 'Введите возраст', name: 'age' %>
            </div>

            <div class="field">
              <label>Доктор</label>
              <%= f.select :doctor_id, Appointment.appointment_participants(Doctor.new),
                           {prompt: 'Выберите доктора для осмотра'},
                           {class: 'ui search fluid dropdown', name: 'doctor_id'} %>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Дата осмотра</label>
              <%= f.text_field :appointment_date,
                               'data-behaviour' => 'datepicker',
                               placeholder: yield(:date_placeholder),
                               name: 'appointment_date' %>
            </div>

            <div class="field">
              <label>Время</label>
              <%= f.time_select :start_time, {start_hour: 8, end_hour: 18, minute_step: 15}, {class: 'ui search dropdown'} %>
            </div>
          </div></br>

          <div class="ui buttons" id="edit_form_style">
            <%= f.submit "   Создать осмотр    ", class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', conditional_appointments_path, class: "ui negative button" %>
          </div>

      <% end %>
  </div>
</div>