<h3 class="ui left floated header">Список предварительных записей на первичный осмотр</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= conditional_appointments_amount %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <% if current_user.admin? %>
      <div class="left menu">
        <div class="item", id="item_left_padding">
          <%= render '/administration/appointments/modal_for_creating_appointment' %>
        </div>
      </div>
  <% end %>

  <%= render 'administration/conditional_appointments/conditional_appointments_search_field' %>
</div>

<div class="after_search_rendered_table">
  <%= render 'administration/conditional_appointments/conditional_appointments_index_table' %>
</div>

<% if @conditional_apps.empty? %>
    <h4 class="ui red block header">
      На данный момент нет предварительных записей на первичный осмотр.
    </h4>
<% end %>

<%= alertify_flash %>