<div class="ui inverted segment" id="segment_changed">
  <div class="create_conditional_appointment">
      <div class="ui inverted form form_changed">

        <%= form_for(@conditional_app, html: {class: 'ui equal width form'}) do |f| %>

          <div class="two fields">
            <div class="field">
              <label>Имя</label>
              <%= f.text_field :name, placeholder: 'Введите имя', name: 'name' %>
            </div>

            <div class="field", id="right_padding">
              <label>Фамилия</label>
              <%= f.text_field :surname, placeholder: 'Введите фамилию', name: 'surname' %>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Номер телефона</label>
              <%= f.text_field :phone, placeholder: 'Введите номер телефона', name: 'phone' %>
            </div>

            <div class="field">
              <label>E-mail</label>
              <%= f.email_field :email, placeholder: 'Введите адрес электронной почты' %>
            </div>
          </div></br>

          <%= f.submit 'Создать заявку на осмотр', class: "positive fluid ui button" %>

        <% end %>
      </div>
  </div>
</div>