<td class="middle aligned list">
  <a class="title"> <!--class for accordion-->
    <i class="icon dropdown"></i>
    <b><%= category.title %></b>
  </a>

  <div class="content"> <!--content for accordion-->
     <div class="accordion" style="margin: 0em">
        <div class="ui middle aligned list">

           <% category.procedures.each do |procedure| %>
               <div class="item">
                  <div class="title" style="padding: 0em">
                    <div class="description" id="list_left_margin">
                      <i class="angle double right icon"></i>
                      <%= procedure.title %>
                    </div>
                  </div>

                  <div class="content">
                    <div class="ui middle aligned list"  style="padding: 0em">
                      <div class="item">
                        <div class="description" id="list_left_margin_for_second_label">
                          <% if procedure.procedure_age_types.present? %>
                            <% procedure.procedure_age_types.each do |type| %>
                              <div class="content">
                                <i class="angle right icon"></i>
                                <b><%= type.age_type.title %>:</b> &nbsp;<%= type.price.to_i %> сом
                              </div>
                            <% end %>
                          <% else %>
                              <div class="content">
                                <i class="angle right icon"></i>
                                Возрастные категории отсутствуют
                              </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
           <% end %>

        </div>
     </div>
  </div>
</td>



