<div class="ui form width changed">
  <div class="create_price_list_category">
      <%= form_for(@category, html: {class: 'ui equal width form'}) do |f| %>

          <h4 class="ui dividing header"><%= 'Создание категории' %></h4></br>

          <div class="field">
            <label>Наименование</label>
            <%= f.text_field :title, placeholder: 'Наименование категории', name: 'title' %>
          </div>

          <div class="field">
            <label>Описание</label>
            <%= f.text_area :description, size: '20x7', placeholder: "Описание категории", name: 'description' %>
          </div>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit 'Создать категорию', class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to "Вернуться к списку", price_list_categories_path, class: "ui negative button" %>
          </div>

      <% end %>
  </div>
</div>