<div class="modal fade" id="update_category-<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="update_categoryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/price_list_categories/edit', locals: {category: category} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>