<div class="left menu">
  <div class="item", id="item_left_padding">

    <button type="button" class="ui blue button" data-toggle="modal" data-target="#new_category">
      <i class="checkmark box icon"></i>
      Создать новую категорию
    </button>

    <div class="modal fade" id="new_category" tabindex="-1" role="dialog" aria-labelledby="new_categoryLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <%= render 'administration/price_list_categories/form_for_category' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>