<table class="ui selectable celled black table", id="centred_table">
  <tr class="table_title">
    <th>№</th>
    <%= render partial: 'administration/price_list_categories/sorting/by_title' %>
    <th>Описание</th>
    <th><i class="pie chart icon"></i>Процедуры</th>
    <% if current_user.admin? %>
        <th colspan="2", class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>
  <% if @categories %>
      <% @categories.each do |category| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>

            <%= render partial: 'administration/price_list_categories/form_for_accordion', locals: {category: category} %>

            <td class="middle aligned">
              <%= category.description.present? ? category.description : 'Отсутствует' %>
            </td>

            <td class="middle aligned"><%= category.procedures.count %></td>

            <% if current_user.admin? %>
                <td class="middle aligned">
                  <a href="#", data-toggle="modal" data-target="#update_category-<%= category.id %>">
                    <i class="write icon width_color_changed large"></i>
                  </a>

                  <%= render partial: 'administration/price_list_categories/modal_for_updating_category', locals: {category: category} %>
                </td>

                <td class="middle aligned"><%= link_to price_list_category_path(category),
                                                       data: {confirm: "Вы уверены что хотите удалить категорию: #{category.title}, из системы?"},
                                                       method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>