<h3 class="ui left floated header">Прейскурант</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= PriceListCategory.all.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <% if current_user.admin? %>
      <%= render 'administration/price_list_categories/modal_for_creating_category' %>
  <% end %>
  <%= render 'administration/price_list_categories/price_list_categories_search_field' %>
</div>

<div class="ui accordion field">
  <div class="after_search_rendered_table">
    <%= render 'administration/price_list_categories/price_list_categories_index_table' %>
  </div>
</div>

<% if @categories.empty? %>
    <h4 class="ui red block header">
      На данный момент список категорий пуст.
    </h4>
<% end %>
