<div class="ui form width changed">
  <div class="create_message">
    <%= form_tag delivery_messages_path, html: {class: 'ui equal width form'} do  %>
        <div class="field">
          <label>Получатели</label>
          <select name="patient[]" multiple id="patient_select" class="ui search fluid dropdown">
            <option selected value="all">Всем</option>
            <% @patients.each do |patient| %>
                <option value="<%= patient.id %>"><%= patient.fullname %></option>
            <% end %>
          </select>
        </div>

        <div class="field">
          <label>Сообщение</label>
          <textarea name="text" id="text" cols="30" rows="10" placeholder="Введите текст сообщения"></textarea>
        </div>

        <%= submit_tag 'Отправить SMS', class: "positive fluid ui button" %>
    <% end %>
  </div>
</div>