<div class="ui form width changed">
  <div class="create_message">
    <%= form_for Message.new, html: {class: 'ui equal width form'} do |f| %>

        <div class="field">
          <label>Номер телефона</label>
          <%= f.text_field :phone, placeholder: 'Введите номер телефона', name: 'phone' %>
        </div>

        <div class="field">
          <label>Сообщение</label>
          <%= f.text_area :text, placeholder: 'Введите текст сообщеия', name: 'text' %>
        </div>

        <%= f.submit 'Отправить SMS-сообщение', class: "positive fluid ui button" %>

    <% end %>
  </div>
</div>