<div class="item">
  <button type="button" class="ui blue button" data-toggle="modal" data-target="#new_message">
    <i class="mail outline icon"></i>
    Создать новое сообщение
  </button>

  <div class="modal fade" id="new_message" tabindex="-1" role="dialog" aria-labelledby="new_messageLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <%= render 'administration/messages/form_for_message' %>
        </div>

        <div class="modal-footer">
          <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

</div>
