<div class="item">
  <button type="button" class="ui blue button" data-toggle="modal" data-target="#new_delivery">
    <i class="mail outline icon"></i>
    Создать новую смс рассылку
  </button>

  <div class="modal fade" id="new_delivery" tabindex="-1" role="dialog" aria-labelledby="new_deliveryLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <%= render 'administration/messages/form_for_delivery' %>
        </div>

        <div class="modal-footer">
          <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

</div>
