<h3 class="ui left floated header">Список SMS-сообщений</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= @messages.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <%= render 'modal_for_creating_message' %>
  <%= render 'modal_for_creating_deliveries' %>
</div>


<div class="after_search_rendered_table">
  <table class="ui selectable celled black table" id="centred_table">
    <tr>
      <th>Статус</th>
      <th>№</th>
      <th>Телефон</th>
      <th>Сообщение</th>
      <th>Дата создания</th>
      <th>Дата отправки</th>
      <th colspan='2' class="centred_for_two_cells">Действия</th>
    </tr>

    <% counter = 0 %>
    <% if @messages %>
        <% @messages.each do |message| %>
            <tr>
              <td class="middle aligned">
                <% status = show_messages_statuses message %>
                <div class="ui <%= status[0] %> ribbon label"><%= status[1] %></div>
              </td>

              <td class="middle aligned"><%= counter += 1 %></td>
              <td class="middle aligned"><%= message.phone %></td>
              <td class="middle aligned"><%= message.text %></td>

              <td class="middle aligned">
                <%= l message.created_at, format: ("%d %B %Y") + ',' %>
                <%= message.created_at.strftime('%H:%M') %>
              </td>

              <td class="middle aligned">
                <%= l message.send_time, format: ("%d %B %Y") + ',' if message.send_time.present? %>
                <%= message.created_at.strftime('%H:%M') %>
              </td>

              <td></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<% if @messages.empty? %>
    <h4 class="ui red block header">
      На данный момент список пуст.
    </h4>
<% end %>