<div class="ui form width changed">
  <div class="create_video">
      <%= form_for(@video, html: {class: 'ui equal width form'}) do |f| %>
          <h4 class="ui dividing header"><%= yield(:message) %></h4></br>

          <div class="two fields">
            <div class="field">
              <label>Название</label>
              <%= f.text_field :title, name: 'title', placeholder: 'Название видео' %>
            </div>

            <div class="field">
              <label>Ссылка</label>
              <%= f.text_field :link, name: 'link', placeholder: 'Ссылка на видео в Youtube' %>
            </div>
          </div></br>

          <div class="ui buttons" id="edit_form_style">
            <%= f.submit yield(:button), class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', videos_path, class: "negative ui button" %>
          </div>
      <% end %>
  </div>
</div>