<div class="modal fade" id="update_video-<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="update_videoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/videos/edit', locals: {video: video} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>