<div class="left menu">
  <div class="item" id="item_left_padding">

    <button type="button" class="ui youtube button" data-toggle="modal" data-target="#video">
      <i class="youtube icon"></i>
      Добавить новое видео
    </button>

    <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <% provide(:button, 'Создать новое видео') %>
            <% provide(:message, 'Создание видео') %>

            <%= render 'administration/videos/form_for_video' %>
          </div>

          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>