<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>
      <i class="youtube icon"></i>
      Ссылка на видео в Youtube
    </th>
    <th>Добавлено</th>
    <th colspan='2' class="centred_for_two_cells">Действия</th>
  </tr>

  <% counter = 0 %>
  <% if @videos %>
      <% @videos.each do |video| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>
            <td class="middle aligned"><%= video.title %></td>
            <td class="middle aligned"><%= link_to video.link %></td>

            <td><%= l video.created_at, format: ("%d %B %Y") %></td>

            <td class="middle aligned">
              <a href="#" data-toggle="modal" data-target="#update_video-<%= video.id %>">
                <i class="write icon width_color_changed large"></i>
              </a>
              <%= render partial: 'administration/videos/modal_for_updating_video', locals: {video: video} %>
            </td>

            <td class="middle aligned"><%= link_to video_path(video),
                                                   data: {confirm: "Вы уверены что хотите удалить видео из системы?"},
                                                   method: :delete do %>
                  <i class="trash icon width_color_changed large"></i>
              <% end %>
            </td>

          </tr>
      <% end %>
  <% end %>
</table>
