<h3 class="ui left floated header">Список загруженных видео</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= Video.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary  menu">
  <%= render 'administration/videos/modal_for_creating_video' %>
  <%= render 'administration/videos/videos_search_field' %>
</div>

<div class="after_search_rendered_table">
  <%= render 'administration/videos/videos_index_table' %>
</div>

<% if @videos.empty? %>
    <h4 class="ui red block header">
      На данный момент список загруженных видео пуст
    </h4>
<% end %>