.changed {
  .ui.selection.dropdown {
    min-width: 20px!important;
  }
  .ui.form .field > .selection.dropdown {
    width: auto;
  }

  width: 632px;
  margin: 0 auto;
}

.width_for_editing_treatment_form {
  width: 965px;
  margin: 0 auto;
}

.modal-dialog{
  position: relative;
  display: table; //This is important
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
}

.ui.inverted.blue.button {
  background: #ffffff;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 17, 255, 0.74) inset !important;
  color: rgba(0, 0, 0, 0.8);
}

.ui.inverted.black.button {
  background: #ffffff;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 17, 255, 0.97) inset !important;
  color: rgba(0, 0, 0, 0.8);
}

.ui.sidebar {
  position: fixed;
  top: 44px;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: none;
  transition: none;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100% !important;
  max-height: 100%;
  border-radius: 0em !important;
  margin: 0em !important;
  overflow-y: auto !important;
  z-index: 102;
}

.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg,
.ui.medium.image {
  width: 215px;
  margin-left: 22px;
  margin-top: 10px;
  height: auto;
  font-size: 1rem;
}

.ui.vertical.menu .item > i.icon {
  width: 1.18em;
  float: left;
  margin: 0em 0em 0em 1em;
}

#style_for_icon_in_sidebar {
  line-height: 12px;
  margin-left: 15px;
}

#style_for_content_in_sidebar {
  color: white;
  font-weight: bold;
  float: right;
}

.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: white;
}

.ui.vertical.menu .menu .item {
  background: none;
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: -9px;
}

.ui.menu .item > img:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin: -0.3em 0em;
  width: 25px;
  height: 23px;
  margin-top: -6px;
  margin-left: -6px;
}

.ui.menu.white_text{
  color: white;
}

.ui.form .fields .wide.field:last-child.with_top_padding {
  padding-right: 0%;
  padding-top: 22px;
}

.button_style_for_age_type_procedure {
  padding-right: 53px;
  padding-top: 17px;
}

.ui.form .one.wide.field {
  width: 6.25% !important;
  padding-top: 22px;
}

i.icon.with_changed_width {
  width: 0.18em;
}

.ui.button.with_changed_width {
  width: 52px
}

i.icon.width_color_changed {
  width: 7px;
  color: darkslategray;
}

.pushable > .pusher {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  min-height: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  z-index: 2;
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
}

.dropdown_center_showing {
  .ui.dropdown .menu {
    left: -67px;
  }
}

.ui.ribbon.label {
  left: calc( -1rem - 1.2em );
  margin-right: -2.2em;
  padding-left: calc( 1rem + 0.2em );
  padding-right: 1.2em;
  width: 128px;
}

.alertify-notifier.ajs-top {
  top: 55px;
}

.alertify-notifier.ajs-right {
  right: 10px;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  right: 272px;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alertify-notifier .ajs-message.ajs-error {
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alertify-notifier .ajs-message.ajs-visible {
  padding: 20px;
}


//_________________________________________

.table_title a {
  color: #333;
}

#medium_buttons_style {
  height: 35px;
  font-size: 14px
}

#container_style {
  margin-top: 60px;
  width: 1200px;
}

#centred_table {
  margin: 0 auto;
  margin-bottom: 20px;
}

#edit_form_style {
  width: 632px;
  margin: 0 auto;
}

#form_for_treatment_style {
  width: 965px;
  margin: 0 auto;
}

#left_tab_style {
  padding-right: 68px;
  padding-left: 69px;
}

#right_tab_style {
  padding-right: 31px;
  padding-left: 32px;
}

#right_padding {
  padding-right: 0em;
}

#item_left_padding {
  padding-left: 0px
}

#item_right_padding {
  padding-right: 0px
}

.centred_for_two_cells {
  text-align: center;
}

#segment_changed {
  width: 550px;
  margin: 0 auto;
  margin-top: 100px
}

.form_changed {
  width: 550px;
  margin: 0 auto;
}

.default_image_style {
  width: 40px;
  height: 40px;
}

.centred_table_elements {
  vertical-align: middle;
}

.image_style_for_show {
  width: 225px;
  height: 225px;
}

#list_left_margin{
  margin-left: 20px;
}

#list_left_margin_for_second_label {
  margin-left: 40px;
}

#dividing_header_margin_top {
  margin-top: 0px;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

hr {
  margin-top: 1px;
  margin-bottom: 7px;
}

.diseases, .allergy, .medicine,
.bleeding, .pregnancy {
  padding-top: 5px;
}

.treatment_result_points ol {
  padding-left: 13px;
}

.personal_card_points {
  font-size: 16px;
}

.personal_card_updated_date {
  font-size: 12px;
  font-weight: normal;
  margin-right: 15px;
}

.all_database_records_count {
  font-size: 12px;
  font-weight: normal;
}

.sidebar_patient_doctors {
  padding-top: 0px;
  margin-left: 20px;
}

.sidebar_treating_doctors {
  margin-left: 20px;
}

//FULLCALENDAR
.fc-sun { color:red; }
.fc-past {
  background-color: #cdcdcd;
}
