<div class="ui form width changed">
  <div class="create_patient">
      <% @patient.build_user if @patient.user.nil? %>
      <%= form_for(@patient, html: {class: 'ui equal width form'}) do |f| %>

          <h4 class="ui dividing header"><%= yield(:message) %></h4></br>

            <div class="two fields">
              <%= f.fields_for :user do |user| %>
                  <div class="field">
                    <label>Имя</label>
                    <%= user.text_field :name, placeholder: 'Введите имя', name: 'name' %>
                  </div>

                  <div class="field", id="right_padding">
                    <label>Фамилия</label>
                    <%= user.text_field :surname, placeholder: 'Введите фамилию', name: 'surname' %>
                  </div>
              <% end %>
            </div>

            <div class="two fields">
              <%= f.fields_for :user do |user| %>
                  <div class="field">
                    <label>E-mail</label>
                    <%= user.email_field :email, placeholder: 'Введите адрес электронной почты' %>
                  </div>
              <% end %>

              <div class="field">
                <label>Телефон</label>
                <%= f.text_field :phone, placeholder: 'Введите номер телефона', name: 'phone' %>
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label>Пол</label>
                <%= f.select :gender, [['Мужчина', 'male'], ['Женщина', 'female']],
                             {prompt: 'Выберите пол'}, class: 'ui search fluid dropdown'%>
              </div>

              <div class="field">
                <label>Возраст</label>
                <%= f.text_field :age, placeholder: 'Введите возраст (цифра)', name: 'age' %>
              </div>
            </div>

          <%= f.fields_for :user do |user| %>
              <div class="field">
                <label>Фотография</label>

                <%= user.file_field :avatar %>
                <%= user.hidden_field :avatar_cache %>
              </div></br>
          <% end %>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit yield(:button), class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', patients_path, class: "negative ui button" %>
          </div>

      <% end %>
  </div>
</div>