<% if patient.treatments.present? %>
    <% treatment = last_treatment patient %>
    <% future_treatments = future_treatments patient %>
    <% nearest = future_treatments.min_by(&:treatment_date) %>

    <% if treatment.present? %>
        <td class="middle aligned" style="padding: 6px">
          <h4 class="ui image header">
            <div class="content">
              <%= l treatment.treatment_date, format: ("%d %B %Y") %>
              <div class="sub header">Прошедших приемов:
                <%= past_treatments_count patient %>
              </div>
            </div>
          </h4>
        </td>
    <% else %>
        <td class="middle aligned">Приемов нет</td>
    <% end %>

    <% if future_treatments.present? %>
        <td class="middle aligned" style="padding: 6px">
          <h4 class="ui image header">
            <div class="content">
              <%= l nearest.treatment_date, format: ("%d %B %Y") %>
              <div class="sub header">Запланировано: <%= future_treatments.count %></div>
            </div>
          </h4>
        </td>
    <% else %>
        <td class="middle aligned">Приемов нет</td>
    <% end %>

<% else %>
    <td class="middle aligned">Приемов нет</td>
    <td class="middle aligned">Приемов нет</td>
<% end %>