<div class="modal fade" id="update_patient-<%= patient.id %>" tabindex="-1" role="dialog" aria-labelledby="update_patientLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/patients/edit', locals: {patient: patient} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

