<div class="left menu">
  <div class="item", id="item_left_padding">

    <button type="button" class="ui blue button" data-toggle="modal" data-target="#patient">
      <i class="add user icon"></i>
      Создать нового пациента
    </button>

    <div class="modal fade" id="patient" tabindex="-1" role="dialog" aria-labelledby="patientLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <% provide(:button, '  Создать пациента  ') %>
            <% provide(:message, 'Создание пациента') %>

            <%= render 'administration/patients/form_for_patient' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>