<h3 class="ui left floated header"><%= @patient.fullname %></h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего приемов: <b><%= treatments_amount @patient %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <div class="left menu">
    <div class="item" id="item_left_padding">
      <button type="button" class="ui black button" id="sidebar_button">
        <i class="sidebar icon" style="line-height: 15px"></i>
        <span style="font-size: 14px">Смотреть профиль</span>
      </button>

      <%= link_to patient_personal_cards_path(@patient), class: 'ui blue button', style: "margin-left: 15px" do %>
          Медицинская карта
      <% end %>

      <% if current_user.admin? %>
          <%= link_to new_treatment_path(patient_id: @patient.id), class: 'ui blue button', style: "margin-left: 15px" do %>
              <i class="plus icon"></i>
              Добавить прием
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui pointing secondary menu">
  <a class="active item" data-tab="first">Таблица приемов пациента</a>
</div>

<div class="ui active tab" data-tab="first">
  <div class="after_search_rendered_table">
    <%= render 'administration/treatments/treatments_index_table' %>
  </div>

  <% if @patient.treatments.empty? %>
      <h4 class="ui red block header">
        На данный момент у пациента нет назначенных приемов
      </h4>
  <% end %>
</div>