<table class="ui selectable celled black table" id="centred_table">
  <tr class="table_title">
    <th>№</th>
    <%= render partial: 'administration/patients/sorting/by_patient_surname' %>
    <th>E-mail</th>
    <%= render partial: 'administration/patients/sorting/by_patient_age' %>
    <th>Последний прием</th>
    <th>Ближайший прием</th>
    <% if current_user.admin? %>
        <th colspan='2', class="centred_for_two_cells">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>
  <% if @patients %>
      <% @patients.each do |patient| %>
          <tr>
            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <% if patient.avatar.file.nil? %>
                    <img src="<%= asset_path patient.default_image %>" class="ui mini rounded image">
                <% else %>
                    <%= image_tag patient.avatar.tiny, class: "ui mini rounded image" %>
                <% end %>

                <div class="content">
                  <%= link_to patient.fullname, patient_path(patient) %>
                  <div class="sub header"><%= patient.phone %></div>
                </div>
              </h4>
            </td>

            <td class="middle aligned">
              <%= patient.email.present? ? patient.email : 'Отсутствует' %>
            </td>

            <td class="middle aligned">
              <%= patient.age.present? ? patient.age : 'Не указан' %>
            </td>

            <%= render partial: 'administration/patients/last_and_newest_treatments', locals: { patient: patient } %>

            <% if current_user.admin? %>
                <td class="middle aligned">
                  <a href="#", data-toggle="modal" data-target="#update_patient-<%= patient.id %>">
                    <i class="write icon width_color_changed large"></i>
                  </a>

                  <%= render partial: 'administration/patients/modal_for_updating_patient', locals: {patient: patient} %>
                </td>

                <td class="middle aligned"><%= link_to patient_path(patient),
                                                       data: {confirm: "Вы уверены что хотите удалить пациента из системы?"},
                                                       method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>
            <% end %>

          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @patients, :remote => true %>