<div class="ui left inverted vertical sidebar menu white_text">
  <img class="ui medium rounded image" src="<%= sidebar_user_avatar @patient %>"><br>

  <div style="margin-left: 20px; font-size: 17px">
    <b><%= @patient.fullname %> <%= @patient.age %></b>
  </div>

  <div class="ui inverted list" style="margin-bottom: -20px">
    <i class="call icon inverted large" id="style_for_icon_in_sidebar"></i>
    <%= @patient.phone %></br>

    <i class="at icon inverted large" id="style_for_icon_in_sidebar"></i>
    <%= @patient.email.present? ? @patient.email : 'Отсутствует' %></br>

    <i class="book icon inverted large" id="style_for_icon_in_sidebar"></i>
    Всего приемов: <%= (hosted_treatments @patient).count %></br>

    <i class="thumbs up icon inverted large" id="style_for_icon_in_sidebar"></i>
    Вылечено зубов: <%= (cured_teeth @patient).count %></br>

    <i class="dollar icon inverted large" id="style_for_icon_in_sidebar"></i>
    Потрачено средств: <%= spent_money @patient %> сом</br>
  </div>

  <div class="ui inverted list">
    <div class="menu">
      <% if current_user.admin? %>
          <a href="#", data-toggle="modal" data-target="#update_patient-<%= @patient.id %>" class='item' style="margin-top: 20px">
            <div style="margin-left: 20px">
              <i class="write icon inverted"></i>
              Редактировать профиль
            </div>
          </a>

          <h4 class="ui dividing inverted header" style="margin-top: 5px; margin-bottom: 0px">
            <div class="sidebar_treating_doctors">
              Лечащие врачи
            </div>
          </h4>
      <% else %>
          <h4 class="ui dividing inverted header" style="margin-top: 30px; margin-bottom: 0px">
            <div class="sidebar_treating_doctors">
              Лечащие врачи
            </div>
          </h4>
      <% end %>

      <div class="sidebar_patient_doctors">
        <div class="ui list">
          <% (patient_doctors @patient).each do |doctor| %>
              <div class="item">
                <img class="ui mini rounded image" src="<%= sidebar_user_avatar doctor %>">

                <div class="content">
                  <div class="header"><%= doctor.fullname %></div>
                  <div class="description"><%= doctor.phone %></div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>