<h3 class="ui left floated header">Список пациентов</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= patients_amount %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <% if current_user.admin? %>
    <%= render 'administration/patients/modal_for_creating_patient' %>
  <% end %>
  <%= render 'administration/patients/patients_search_field' %>
</div>

<div class="after_search_rendered_table">
  <%= render 'administration/patients/patients_index_table' %>
</div>

<% if @patients.empty? %>
  <h4 class="ui red block header">
    На данный момент список пациентов пуст
  </h4>
<% end %>