<%= render partial: 'administration/patients/patient_treatment_list_form' %>
<%= render partial: 'administration/patients/sidebar' %>
<%= render partial: 'administration/patients/modal_for_updating_patient', locals: {patient: @patient} %>
<%= alertify_flash %>