$('.after_search_rendered_table').html("<%= j render partial: 'administration/treatments/treatments_index_table' %>");

$(document).ready(function () {
    $('.ui.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
    $('.ui.accordion').accordion();
    $('.secondary.menu .item').tab();
});