<div class="fields">
  <div class="eight wide field">
    <label>Зуб подлежащий лечению</label>
    <%= select_tag 'therapy[][tooth]', options_for_select(Treatment.teeth_numeration),
                   { prompt: 'Выберите из списка', class: 'ui search fluid dropdown' } %>
  </div>

  <div class="eight wide field">
    <label>Процедуры</label>
    <%= select_tag 'therapy[][procedure][]', options_from_collection_for_select(Procedure.all, 'id', 'title'),
                   { prompt: 'Можно выбрать несколько процедур',
                     class: 'ui search fluid dropdown', multiple: true } %>
  </div>

  <div class="one wide field with_top_padding">
    <%= link_to '#', data: :red_button, class: 'ui red button with_changed_width ' do %>
        <i class="minus icon with_changed_width"> </i>
    <% end %>
  </div>
</div>