<div class="ui form width changed">
  <%= form_for(treatment,
               :url => manage_treatment_statuses_treatment_path(treatment.id),
               html: {class: 'ui equal width form'}) do |f| %>

      <h4 class="ui dividing header">Редактирование статусов до и после лечения пациента</h4>

      <div class="field">
        <label>Статус до лечения</label>
        <%= f.text_area :before_treatment_status, size: '10x5', placeholder: 'Опишите состояние зубов пациента до лечения' %>
      </div>

      <div class="field">
        <label>Лечение</label>
        <%= f.text_area :treatment_process, size: '10x5', placeholder: 'Опишите проведенные процедуры и статус после лечения' %>
      </div>

      <div class="ui buttons", id="edit_form_style">
        <%= f.submit 'Обновить данные', class: "ui blue button" %>
        <div class="or"></div>
        <%= link_to 'Вернуться к списку', patient_personal_cards_path(treatment.patient), class: "negative ui button" %>
      </div>

  <% end %>
</div>