<div class="modal fade" id="update_treatment_statuses-<%= treatment.id %>" tabindex="-1" role="dialog" aria-labelledby="update_treatment_statusesLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/treatments/edit_statuses', locals: {treatment: treatment} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>