<div class="ui form width changed width_for_editing_treatment_form" id="datepicker_identifier">
  <div class="edit_treatment">
    <%= form_for(@treatment, html: {class: 'ui equal width form'}) do |f| %>

        <%= f.hidden_field :treatment_id, value: @treatment.id %>
        <%= f.hidden_field :patient_id, value: patient_id, name: 'patient_id' %>

        <div class="three fields">
          <div class="field">
            <label>Дата приема</label>
            <%= f.text_field :treatment_date,
                             'data-behaviour' => 'datepicker',
                             :value => "#{l f.object.treatment_date, format: ("%d %B %Y") if f.object.treatment_date?}",
                             placeholder: 'Выберите дату',
                             name: 'treatment_date', id: "determined_date" %>
          </div>

          <div class="field">
            <label>Доктор</label>
            <%= f.select :doctor_id, Appointment.appointment_participants(Doctor.new),
                         {prompt: 'Выберите доктора на прием'},
                         {class: 'ui search fluid dropdown', id: "determined_doctor",
                          name: 'doctor_id'} %>
          </div>

          <div class="field">
            <div class="two fields">
              <div class="field">
                <div id="treatment_start_time">
                  <label>Начало приема</label>
                  <%= f.time_select :start_time, {start_hour: 8, end_hour: 18, minute_step: 30},
                                    {class: 'ui search dropdown', id: "determined_doctor_free_time"} %>
                </div>
              </div>
              <div class="field">
                <label>Продолжительность</label>
                <%= select_tag 'duration', options_for_select([
                                                                  ['30 минут', 30.minutes],
                                                                  ['1 час', 60.minutes],
                                                                  ['1 час 30 минут', 90.minutes],
                                                                  ['2 часа', 120.minutes],
                                                                  ['2 часа 30 мин.', 150.minutes],
                                                                  ['3 часа', 180.minutes]
                                                              ]), class: 'ui search fluid dropdown', id: "determined_time_range" %>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label>Жалобы пациента</label>
          <%= f.text_field :complaint, placeholder: 'Общие жалобы пациента до лечения' %>
        </div>

        <div class="field">
          <%= link_to add_primary_fields_treatments_path, data: :red_button, class: 'ui button', remote: true do %>
              Добавить дополнительное поле
          <% end %>
        </div>

        <% if @treatment.treatment_details.present? %>
            <% teeth_array = @treatment.treatment_details.map { |detail| detail.tooth }.uniq %>
            <% teeth_array.each do |tooth| %>
                <% procedures_array = @treatment.treatment_details.where(tooth: tooth).map { |detail| detail.procedure.id } %>

                <div class="fields">
                  <div class="eight wide field">
                    <label>Зуб подлежащий лечению</label>
                    <%= select_tag 'therapy[][tooth]', options_for_select(Treatment.teeth_numeration, tooth),
                                   {class: 'ui search fluid dropdown'} %>
                  </div>

                  <div class="eight wide field">
                    <label>Процедуры</label>
                    <%= select_tag 'therapy[][procedure][]', options_from_collection_for_select(Procedure.all, 'id', 'title', procedures_array),
                                   {class: 'ui search fluid dropdown', multiple: true} %>
                  </div>

                  <div class="one wide field with_top_padding">
                    <%= link_to '#', data: :red_button, class: 'ui red button with_changed_width ' do %>
                        <i class="minus icon with_changed_width"></i>
                    <% end %>
                  </div>
                </div>

            <% end %>
            <div id="empty_fields_wrapper"></div>
            <br>

        <% else %>
            <div class="fields">
              <div class="eight wide field">
                <label>Зуб подлежащий лечению</label>
                <%= select_tag 'therapy[][tooth]', options_for_select(Treatment.teeth_numeration),
                               {class: 'ui search fluid dropdown', prompt: 'Выберите из списка'} %>
              </div>

              <div class="eight wide field">
                <label>Процедуры</label>
                <%= select_tag 'therapy[][procedure][]', options_from_collection_for_select(Procedure.all, 'id', 'title'),
                               {prompt: 'Можно выбрать несколько процедур', class: 'ui search fluid dropdown', multiple: true} %>
              </div>

              <div class="one wide field with_top_padding">
                <%= link_to '#', data: :red_button, class: 'ui red button with_changed_width ' do %>
                    <i class="minus icon with_changed_width"></i>
                <% end %>
              </div>
            </div>

            <div id="empty_fields_wrapper"></div>
            <br>
        <% end %>

        <div class="ui buttons" id="form_for_treatment_style">
          <%= f.submit yield(:button), class: "ui blue button", id: "medium_buttons_style" %>
          <div class="or"></div>
          <%= link_to 'Обратно к списку приемов', :back, class: "ui negative button" %>
        </div>
    <% end %>
  </div>
</div>