<table class="ui selectable celled black table" id="centred_table">
  <tr class="table_title">
    <th>Статус</th>
    <th>№</th>
    <%= render partial: 'administration/treatments/sorting/by_treatment_date', locals: {patient: @patient} %>
    <th>Время</th>

    <% if current_user.admin? %>
        <%= render partial: 'administration/treatments/sorting/by_doctor_surname', locals: {patient: @patient} %>
    <% end %>

    <th>Процедуры</th>
    <th>Зубы</th>
    <%= render partial: 'administration/treatments/sorting/by_treatment_price', locals: {patient: @patient} %>

    <% if current_user.admin? %>
        <th colspan="4">Действия</th>
    <% end %>
  </tr>

  <% counter = 0 %>
  <% if @patient.treatments.present %>
      <% @treatments.each do |treatment| %>
          <tr>
            <td class="middle aligned">
              <% status = show_treatments_statuses treatment %>
              <div class="ui <%= status[0] %> ribbon label"><%= status[1] %></div>
            </td>

            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned"><b><%= l treatment.treatment_date, format: ("%d %B %Y") if treatment.treatment_date%></b></td>
            <td class="middle aligned"><%= treatment.treatment_time %></td>

            <% if current_user.admin? %>
                <td class="middle aligned" style="padding: 4px">
                  <b><%= treatment.doctor.fullname %></b>
                  <div class="sub header"><%= treatment.doctor.phone %></div>
                </td>
            <% end %>

            <td class="middle aligned" style="padding: 4px">
              <% unless treatment.procedures.nil? %>
                  <% number = treatment.procedures.count %>

                  <% if number == 1 %>
                      <%= number %> процедура
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% elsif number > 1 and number < 5 %>
                      <%= number %> процедуры
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% elsif number > 4 %>
                      <%= number %> процедур
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% end %>
              <% end %>
            </td>
            <td class="middle aligned"><b><%= treatment.teeth * ",  " %></b></td>
            <td class="middle aligned"><%= price treatment %> сом</td>

            <% if current_user.admin? %>
                <%= render partial: 'administration/treatments/treatment_statuses', locals: {treatment: treatment} %>

                <% if treatment.hosted? %>
                    <td class="middle aligned">
                      <%= link_to invoice_treatments_path(treatment), target: '_blank' do %>
                          <i class="file pdf outline icon width_color_changed large"></i>
                      <% end %>
                    </td>

                    <td><i class="write icon width_color_changed large disabled"></i></td>
                <% else %>
                    <td><i class="file pdf outline icon width_color_changed large disabled"></i></td>

                    <td class="middle aligned">
                      <%= link_to edit_treatment_path(treatment) do %>
                          <i class="write icon width_color_changed large"></i>
                      <% end %>
                    </td>
                <% end %>

                <td class="middle aligned" id="actions_width"><%= link_to treatment_path(treatment),
                                                                          data: {confirm: "Вы уверены что хотите удалить запись на прием из системы?"},
                                                                          method: :delete do %>
                      <i class="trash icon width_color_changed large"></i>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @treatments, :remote => true %>