<% if treatment.hosted? %>
    <td>
      <i class="options icon width_color_changed large disabled"></i>
    </td>
<% else %>
    <td class="middle aligned">
      <div class="dropdown_center_showing">
        <div class="ui pointing dropdown">
          <i class="options icon width_color_changed large"></i>
          <div class="menu">
            <div class="header">
              <i class="tags icon"></i>
              Статус приема
            </div>
            <div class="scrolling menu">
              <%= link_to manage_state_treatment_path(treatment, state: 'unstarted'), class: 'item',
                          data: {confirm: "Вы уверены что хотите изменить текущий статус приема на 'Новый'?"},
                          method: :get do %>
                  <div class="ui gray empty circular label"></div>
                  Новый
              <% end %>

              <%= link_to manage_state_treatment_path(treatment, state: 'in_process'), class: 'item',
                          data: {confirm: "Вы уверены что хотите изменить текущий статус приема на 'В процессе'?"},
                          method: :get do %>
                  <div class="ui yellow empty circular label"></div>
                  В процессе
              <% end %>

              <%= link_to manage_state_treatment_path(treatment, state: 'hosted'), class: 'item',
                          data: {confirm: "Вы уверены что хотите изменить текущий статус приема на 'Завершен'?  При этом создастся запись в личную карту пациента."},
                          method: :get do %>
                  <div class="ui green empty circular label"></div>
                  Завершен
              <% end %>

              <%= link_to manage_state_treatment_path(treatment, state: 'postponed'), class: 'item',
                          data: {confirm: "Вы уверены что хотите изменить текущий статус приема на 'Отложен'?"},
                          method: :get do %>
                  <div class="ui red empty circular label"></div>
                  Отложен
              <% end %>

              <%= link_to manage_state_treatment_path(treatment, state: 'canceled'), class: 'item',
                          data: {confirm: "Вы уверены что хотите изменить текущий статус приема на 'Отменен'?"},
                          method: :get do %>
                  <div class="ui black empty circular label"></div>
                  Отменен
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </td>
<% end %>