$('.edit_treatment #empty_fields_wrapper').append("<%= j render 'administration/treatments/additional_fields' %>");

var $redButton = $('[data="red_button"]');
$redButton.on('click', function () {
  $(this).parents('.fields').remove();
});

$('.ui.checkbox').checkbox();
$('.ui.dropdown').dropdown();
$('.ui.accordion').accordion();
