$('#edit_treatment #full_fields_wrapper').append("<%= j render 'administration/treatments/additional_fields' %>");
$('.ui.checkbox').checkbox();
$('.ui.dropdown').dropdown();
$('.ui.accordion').accordion();
