<h3 class="ui dividing header" id="dividing_header_margin_top"><%= @patient.fullname %></h3>

<div class="ui secondary menu">
  <div class="left menu">
    <div class="item" id="item_left_padding">
      <button type="button" class="ui black button" id="sidebar_button">
        <i class="sidebar icon" style="line-height: 15px"></i>
        <span style="font-size: 14px">Смотреть профиль</span>
      </button>

      <%= link_to patient_personal_cards_path(@patient), class: 'ui blue button', style: "margin-left: 15px" do %>
          Медицинская карта
      <% end %>
    </div>
  </div>
</div><br>

<h4 class="ui right floated header">
  Лечащий врач: <%= @treatment.doctor.fullname %>
</h4>

<h4 class="ui left floated header">
  <%= l @treatment.treatment_date, format: ("%d %B %Y") %>&nbsp;
  (<%= @treatment_details.first.detail_time %>)
</h4>
<div class="ui dividing header"></div>

<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>Состояние</th>
    <th>№</th>
    <th>Процедура</th>
    <th>Зуб</th>
    <th>Стоимость</th>
  </tr>

  <% counter = 0 %>

  <% unless @treatment_details.nil? %>
      <% @treatment_details.each do |treatment_detail| %>
          <tr>
            <td class="middle aligned">
              <% status = show_treatments_statuses treatment_detail.treatment %>
              <div class="ui <%= status[0] %> ribbon label"><%= status[1] %></div>
            </td>

            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned"><%= treatment_detail.procedure.title %></td>
            <td class="middle aligned"><%= treatment_detail.tooth %></td>
            <td class="middle aligned"><%= "#{treatment_detail.price.to_i.round(0)}" + " сом" %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= render partial: 'administration/patients/sidebar' %>

<%= link_to 'Назад', :back, class:'fluid ui button' %>