<h3 class="ui dividing header" id="dividing_header_margin_top">
  <%= "Информация о приеме " + "(#{@treatment.patient.fullname})"%>
</h3>
<% provide(:button, 'Обновить запись на прием') %>
<%= render partial: 'treatment_form', locals: {patient_id: @treatment.patient.id}%>