<h3 class="ui dividing header" id="dividing_header_margin_top">
  <%= "Создание приема для пациента " + "(#{Patient.find(@patient_id).fullname})"%>
</h3>
<% provide(:button, 'Создать запись на прием') %>
<%= render partial: 'treatment_form', locals: {patient_id: @patient_id} %>