<h3 class="ui dividing header" id="dividing_header_margin_top"><%= @doctor.fullname %></h3>

<div class="ui secondary menu">
  <div class="left menu">
    <div class="item", id="item_left_padding">
      <button type="button" class="ui black button" id="sidebar_button">
        <i class="sidebar icon" style="line-height: 15px"></i>
        <span style="font-size: 14px">Смотреть профиль</span>
      </button>

      <button type="button" class="ui blue button" data-toggle="modal" data-target="#update_doctor-<%= @doctor.id %>" style="margin-left: 15px">
        <i class="edit icon"></i>
        Обновить профиль
      </button>
      <%= render partial: 'modal_for_updating_doctor', locals: {doctor: @doctor} %>

    </div>
  </div>
</div>

<div class="ui pointing secondary menu">
  <a class="active item" data-tab="first">Приемы сегодня</a>
  <a class="item" data-tab="second">Приемы на этой неделе</a>
  <a class="item" data-tab="third">Приемы за все время</a>
  <a class="item" data-tab="fourth">Первичные осмотры</a>
</div>

<div class="ui active tab" data-tab="first">
  <% today_treatments = @doctor.today_treatments %>
  <%= render partial: 'doctor_treatments_table', locals: { treatments: today_treatments } %>

  <% if today_treatments.empty? %>
      <h4 class="ui red block header">
        На сегодняшний день назначенных приемов нет
      </h4>
  <% end %>
</div>

<div class="ui tab" data-tab="second">
  <% this_week_treatments = @doctor.this_week_treatments %>
  <%= render partial: 'doctor_treatments_table', locals: { treatments: this_week_treatments } %>

  <% if this_week_treatments.empty? %>
      <h4 class="ui red block header">
        На этой неделе назначенных приемов нет
      </h4>
  <% end %>
</div>

<div class="ui tab" data-tab="third">
  <% all_treatments = @doctor.treatments.order(treatment_date: :asc) %>
  <%= render partial: 'doctor_treatments_table', locals: { treatments: all_treatments } %>

  <% if all_treatments.empty? %>
      <h4 class="ui red block header">
        На данный момент назначенных приемов нет
      </h4>
  <% end %>
</div>

<div class="ui tab" data-tab="fourth">
  <% all_appointments = @doctor.appointments.order(appointment_date: :asc) %>
  <%= render partial: 'doctor_appointments_table', locals: { appointments: all_appointments } %>

  <% if all_appointments.empty? %>
      <h4 class="ui red block header">
        На данный момент первичных осмотров нет
      </h4>
  <% end %>
</div>