<div class="ui left inverted vertical sidebar menu white_text">
  <img class="ui medium rounded image" src="<%=
      if @doctor.avatar.present?
        asset_path @doctor.avatar
      else
        asset_path @doctor.default_image
      end
  %>"><br>

  <div style="margin-left: 20px; font-size: 17px">
    <b><%= @doctor.fullname %></b>
  </div>

  <div class="ui inverted list">
    <i class="call icon inverted large" id="style_for_icon_in_sidebar"></i>
    <%= @doctor.phone %></br>

    <i class="at icon inverted large" id="style_for_icon_in_sidebar"></i>
    <%= @doctor.email.present? ? @doctor.email : 'Отсутствует' %></br>

    <i class="book icon inverted large" id="style_for_icon_in_sidebar"></i>
    Первичных осмотров: <%= @doctor.appointments.count %></br>

    <i class="treatment icon inverted large" id="style_for_icon_in_sidebar"></i>
    Всего приемов: <%= @doctor.treatments.present.where(state: Treatment.states[:hosted]).count %></br>

    <i class="users icon inverted large" id="style_for_icon_in_sidebar"></i>
    Всего пациентов: <%= @doctor.treatments.where(state: Treatment.states[:hosted]).map(&:patient_id).uniq.flatten.count %></br>

    <i class="thumbs up icon inverted large" id="style_for_icon_in_sidebar"></i>
    Вылечено зубов: <%= @doctor.treatments.where(state: Treatment.states[:hosted]).map(&:teeth).flatten.uniq.count %></br>

    <i class="leanpub icon inverted large" id="style_for_icon_in_sidebar"></i>
    Опубликовано статей: <%= @doctor.articles.count %></br>

    <i class="warning circle icon inverted large" id="style_for_icon_in_sidebar"></i>
    <% if @doctor.present? %>
        Присутствует
    <% elsif @doctor.on_holiday? %>
        В отпуске
    <% elsif @doctor.on_the_sick? %>
        На больничном
    <% elsif @doctor.fired? %>
        Уволился
    <% end %>
  </div>
</div>