<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>Статус</th>
    <th>№</th>
    <th>Пациент</th>
    <th>E-mail пациента</th>
    <th>Дата осмотра</th>
  </tr>

  <% counter = 0 %>

  <% if appointments %>
      <% appointments.each do |appointment| %>
          <tr>
            <% if appointment.not_approved? %>
                <td class="middle aligned"><div class="ui gray ribbon label">Не подтвержден</div></td>
            <% elsif appointment.approved? %>
                <td class="middle aligned"><div class="ui green ribbon label">Подтвержден</div></td>
            <% elsif appointment.postponed? %>
                <td class="middle aligned"><div class="ui red ribbon label">Отложен</div></td>
            <% elsif appointment.canceled? %>
                <td class="middle aligned"><div class="ui black ribbon label">Отменен</div></td>
            <% end %>

            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <div class="content">
                  <%= link_to appointment.patient.fullname, patient_path(appointment.patient) %>
                  <div class="sub header">
                    <%= appointment.patient.phone %>
                  </div>
                </div>
              </h4>
            </td>

            <td class="middle aligned">
              <% email = appointment.patient.email %>
              <%= email.present? ? email : 'Отсутствует' %>
            </td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <div class="content">
                  <%= l appointment.appointment_date, format: "%d %B %Y" %>
                  <div class="sub header">
                    <%= "#{appointment.start_time.strftime('%H:%M')}" %>
                  </div>
                </div>
              </h4>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>