<table class="ui selectable celled black table", id="centred_table">
  <tr class="table_title">
    <th>Статус</th>
    <th>№</th>
    <%= render partial: 'administration/doctors/sorting/by_doctor_surname' %>
    <th>E-mail</th>
    <th>Последний прием</th>
    <th>Ближайший прием</th>
    <th>Календарь</th>
    <th colspan="3">Действия</th>
  </tr>

  <% counter = 0 %>
  <% if @doctors %>
      <% @doctors.each do |doctor| %>
          <tr>
            <% if doctor.fired? %>
                <td class="middle aligned"><div class="ui black ribbon label">Уволился</div></td>
            <% elsif doctor.on_holiday? %>
                <td class="middle aligned"><div class="ui blue ribbon label">В отпуске</div></td>
            <% elsif doctor.on_the_sick? %>
                <td class="middle aligned"><div class="ui red ribbon label">На больничном</div></td>
            <% elsif doctor.present? %>
                <td class="middle aligned"><div class="ui green ribbon label">Присутствует</div></td>
            <% end %>

            <td class="middle aligned"><%= counter += 1 %></td>

            <% if doctor.avatar.file.nil? %>
                <td class="middle aligned" style="padding: 6px">
                  <h4 class="ui image header">
                    <img src="<%= asset_path doctor.default_image %>" class="ui mini rounded image">
                    <div class="content">
                      <%= link_to "#{doctor.surname} " + "#{doctor.name}", doctor_path(doctor) %>
                      <div class="sub header"><%= doctor.phone %></div>
                    </div>
                  </h4>
                </td>
            <% else %>
                <td class="middle aligned" style="padding: 6px">
                  <h4 class="ui image header">
                    <%= image_tag doctor.avatar.tiny, class: "ui mini rounded image" %>
                    <div class="content">
                      <%= link_to "#{doctor.surname} " + "#{doctor.name}", doctor_path(doctor) %>
                      <div class="sub header"><%= doctor.phone %></div>
                    </div>
                  </h4>
                </td>
            <% end %>

            <td class="middle aligned">
              <%= doctor.email.present? ? doctor.email : 'Отсутствует' %>
            </td>

            <%= render partial: 'administration/doctors/last_and_newest_treatments', locals: { doctor: doctor } %>
            <td class="middle aligned"><%= link_to 'Календарь', calendar_index_path %></td>

            <%= render partial: 'administration/doctors/doctor_statuses', locals: {doctor: doctor} %>

            <td class="middle aligned">
              <a href="#", data-toggle="modal" data-target="#update_doctor-<%= doctor.id %>">
                <i class="write icon width_color_changed large"></i>
              </a>
              <%= render partial: 'administration/doctors/modal_for_updating_doctor', locals: {doctor: doctor} %>
            </td>

            <td class="middle aligned"><%= link_to doctor_path(doctor),
                                                   data: {confirm: "Вы уверены что хотите удалить доктора: #{doctor.name} " + "#{doctor.surname} из системы?"},
                                                   method: :delete do %>
                  <i class="trash icon width_color_changed large"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= paginate @doctors, :remote => true %>