<table class="ui selectable celled black table" id="centred_table">
  <tr>
    <th>Статус</th>
    <th>№</th>
    <th>Дата приема</th>
    <th>Пациент</th>
    <th>E-mail пациента</th>
    <th>Процедуры</th>
    <th>Зубы</th>
    <th>Общая цена</th>
  </tr>

  <% counter = 0 %>
  <% if treatments %>
      <% treatments.each do |treatment| %>
          <tr>
            <% if treatment.unstarted? %>
                <td class="middle aligned"><div class="ui gray ribbon label">Новый</div></td>
            <% elsif treatment.in_process? %>
                <td class="middle aligned"><div class="ui yellow ribbon label">В процессе</div></td>
            <% elsif treatment.hosted? %>
                <td class="middle aligned"><div class="ui green ribbon label">Завершен</div></td>
            <% elsif treatment.postponed? %>
                <td class="middle aligned"><div class="ui red ribbon label">Отложен</div></td>
            <% elsif treatment.canceled? %>
                <td class="middle aligned"><div class="ui black ribbon label">Отменен</div></td>
            <% end %>

            <td class="middle aligned"><%= counter += 1 %></td>

            <td class="middle aligned" style="padding: 6px">
              <h4 class="ui image header">
                <div class="content">
                  <%= l treatment.treatment_date, format: ("%d %B %Y") %>
                  <div class="sub header">
                    <%= "#{treatment.start_time.strftime('%H:%M')} - #{treatment.end_time.strftime('%H:%M')}" %>
                  </div>
                </div>
              </h4>
            </td>

            <td class="middle aligned" style="padding: 5px">
              <%= link_to treatment.patient.fullname, patient_path(treatment.patient.id) %>
              <div class="sub header"><%= treatment.patient.phone %></div>
            </td>

            <td class="middle aligned">
              <% email = treatment.patient.email %>
              <%= email.present? ? email : 'Отсутствует' %>
            </td>

            <td class="middle aligned" style="padding: 4px">
              <% unless treatment.procedures.nil? %>
                  <% number = treatment.procedures.count %>

                  <% if number == 1 %>
                      <%= number %> процедура
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% elsif number > 1 and number < 5 %>
                      <%= number %> процедуры
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% elsif number > 4 %>
                      <%= number %> процедур
                      <div class="sub header"><%= link_to 'Подробнее...', details_treatment_path(treatment.id) %></div>
                  <% end %>
              <% end %>
            </td>

            <td class="middle aligned"><b><%= treatment.teeth * ",  " %></b></td>
            <td class="middle aligned"><%= "#{treatment.price.to_i.round(0)}" + " сом" unless treatment.price.nil? %></td>
          </tr>
      <% end %>
  <% end %>
</table>