<td class="middle aligned">
  <div class="dropdown_center_showing">
    <div class="ui dropdown">
        <i class="options icon width_color_changed large"></i>
        <div class="menu">
          <div class="header">
            <i class="tags icon"></i>
            Рабочий статус доктора
          </div>

          <div class="scrolling menu">
            <%= link_to manage_status_doctor_path(doctor, work_status: 'present'), class: 'item' do %>
                <div class="ui green empty circular label"></div>
                Присутствует
            <% end %>

            <%= link_to manage_status_doctor_path(doctor, work_status: 'on_holiday'), class: 'item' do %>
                <div class="ui blue empty circular label"></div>
                В отпуске
            <% end %>

            <%= link_to manage_status_doctor_path(doctor, work_status: 'on_the_sick'), class: 'item' do %>
                <div class="ui red empty circular label"></div>
                На больничном
            <% end %>

            <%= link_to manage_status_doctor_path(doctor, work_status: 'fired'), class: 'item' do %>
                <div class="ui black empty circular label"></div>
                Уволился
            <% end %>
          </div>
        </div>
      </div>
  </div>
</td>