<div class="ui form width changed">
  <div class="create_doctor">
      <% @doctor.build_user if @doctor.user.nil? %>
      <%= form_for(@doctor, html: {class: 'ui equal width form'}) do |f| %>

          <h4 class="ui dividing header"><%= yield(:message) %></h4></br>

            <div class="two fields">
              <%= f.fields_for :user do |user| %>
                  <div class="field">
                    <label>Имя</label>
                    <%= user.text_field :name, placeholder: 'Введите имя', name: 'name' %>
                  </div>

                  <div class="field" id="right_padding">
                    <label>Фамилия</label>
                    <%= user.text_field :surname, placeholder: 'Введите фамилию', name: 'surname' %>
                  </div>
              <% end %>
            </div>

            <div class="two fields">
              <%= f.fields_for :user do |user| %>
                  <div class="field">
                    <label>E-mail</label>
                    <%= user.email_field :email, placeholder: 'Введите адрес электронной почты' %>
                  </div>
              <% end %>

              <div class="field">
                <label>Телефон</label>
                <%= f.text_field :phone, placeholder: 'Номер телефона', name: 'phone' %>
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label>Должность</label>
                <%= f.text_field :position, placeholder: "Должность в клинике" %>
              </div>

              <div class="field">
                <label>Опыт работы</label>
                <%= f.text_field :work_experience, placeholder: 'Опыт работы в годах (цифра)' %>
              </div>
            </div>

          <%= f.fields_for :user do |user| %>
            <div class="field">
              <label>Фотография</label>
              <%= user.file_field :avatar %>
              <%= user.hidden_field :avatar_cache %>
            </div></br>
          <% end %>

          <div class="ui buttons", id="edit_form_style">
            <%= f.submit yield(:button), class: "ui blue button" %>
            <div class="or"></div>
            <%= link_to 'Вернуться к списку', doctors_path, class: "ui negative button" %>
          </div>
      <% end %>
  </div>
</div>