<% if doctor.treatments.present? %>
    <% treatment = doctor.treatments.present.where.not(treatment_date: nil).
            where('treatment_date <= ? AND state = ?', Date.today, Treatment.states[:hosted]).last %>
    <% if treatment.present? %>
        <td class="middle aligned" style="padding: 6px">
          <h4 class="ui image header">
            <div class="content">
              <%= l treatment.treatment_date, format: ("%d %B %Y") %>
              <div class="sub header">Прошедших приемов:
                <%= doctor.treatments.present.where('treatment_date <= ? AND state = ?', Date.today, Treatment.states[:hosted]).count %></div>
            </div>
          </h4>
        </td>
    <% else %>
        <td class="middle aligned">Приемов нет</td>
    <% end %>
<% else %>
    <td class="middle aligned">Приемов нет</td>
<% end %>

<% if doctor.treatments.present? %>
    <% future_treatments = doctor.treatments.present.where(
            'treatment_date >= ? AND state != ?', Date.today, Treatment.states[:hosted]
    ) %>
    <% nearest = future_treatments.min_by(&:treatment_date) %>
    <% if future_treatments.present? %>
        <td class="middle aligned" style="padding: 6px">
          <h4 class="ui image header">
            <div class="content">
              <%= l nearest.treatment_date, format: ("%d %B %Y") %>
              <div class="sub header">Запланировано: <%= future_treatments.count %></div>
            </div>
          </h4>
        </td>
    <% else %>
        <td class="middle aligned">Приемов нет</td>
    <% end %>
<% else %>
    <td class="middle aligned">Приемов нет</td>
<% end %>