<div class="modal fade" id="update_doctor-<%= doctor.id %>" tabindex="-1" role="dialog" aria-labelledby="update_doctorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= render partial: 'administration/doctors/edit', locals: {doctor: doctor} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui gray button" data-dismiss="modal">Выйти</button>
      </div>
    </div>
  </div>
</div>