<div class="left menu">
  <div class="item", id="item_left_padding">

    <button type="button" class="ui blue button" data-toggle="modal" data-target="#new_doctor">
      <i class="add user icon"></i>
      Создать нового доктора
    </button>

    <div class="modal fade" id="new_doctor" tabindex="-1" role="dialog" aria-labelledby="new_doctorLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <% provide(:button, '  Создать доктора  ') %>
            <% provide(:message, 'Создание доктора') %>

            <%= render 'form_for_doctor' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="ui gray button" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>