<h3 class="ui left floated header">Список докторов</h3>

<div class="ui right floated header">
  <div class="all_database_records_count">
    Всего записей: <b><%= Doctor.count %></b>
  </div>
</div>

<div class="ui dividing header"></div>

<div class="ui secondary menu">
  <%= render 'modal_for_creating_doctor' %>
  <%= render 'doctors_search_field' %>
</div>

<div class="after_search_rendered_table">
    <%= render 'administration/doctors/doctors_index_table' %>
</div>

<% if @doctors.empty? %>
    <h4 class="ui red block header">
      На данный момент список докторов клиники пуст
    </h4>
<% end %>

<%= alertify_flash %>