<!-- MENU BLOCK -->
<div class="menu_block">

  <!-- CONTAINER -->
  <div class="container clearfix">

    <!-- LOGO -->
    <div class="logo pull-left">
      <img src="<%= asset_path 'logo_normal.jpg' %>" alt="Династия">
      <!--<a href="/"><span class="b1">D</span><span class="b2">I</span><span class="b3">N</span><span class="b4">A</span><span class="b5">S</span><span class="b6">T</span><span class="b7">Y</span></a>-->
    </div><!-- //LOGO -->

    <!-- SEARCH FORM -->
    <div class="pull-right">
      <div class="header_contacts">
        <div class="header_phone">
          <div>312 881-999</div>
          <div>700 811-999</div>
        </div>
        <div class="header_address">
          <div>Бул. Эркиндик 40</div>
          <div>(Киевская)</div>
        </div>
      </div>
    </div><!-- SEARCH FORM -->

    <!-- MENU -->
    <div class="pull-right">
      <nav class="navmenu center">
        <ul>
          <li class="first active scroll_btn"><a href="#home">Главная</a></li>
          <li class="scroll_btn"><a href="#about">Услуги</a></li>
          <li class="scroll_btn"><a href="#our_works">Работы</a></li>
          <li class="scroll_btn"><a href="#team">Специалисты</a></li>
          <li class="scroll_btn"><a href="#news">Отзывы</a></li>
          <li class="scroll_btn last"><a href="#contacts">Контакты</a></li>
          <li class="sub-menu">
            <%= link_to 'Войти', new_user_session_path %>
          </li>
        </ul>
      </nav>
    </div><!-- //MENU -->
  </div><!-- //MENU BLOCK -->
</div><!-- //CONTAINER -->