<% if user_signed_in? %>
<div class="ui inverted top fixed menu main-menu" style="margin-bottom: 100px">
    <div class="header item">
        <a href="/">Династия</a>
    </div>
    <%= render "shared/#{check_roles}_navbar" %>
    <div class="right menu">
        <div class="ui dropdown item">
            <img src="<%= image_path current_user.default_image %>" style="margin-right: 5px"/>
            <%= current_user.fullname %>
            <i class="dropdown icon"></i>
            <div class="menu">
                <%= link_to '#', class: 'item' do %>
                <i class="unlock alternate icon"></i>
                Личный кабинет
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete , class: 'item' do %>
                <i class="sign out icon"></i>
                Выйти
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>
