<!DOCTYPE html>
<html>
    <head>
        <title>Династия | Семейная Стоматология</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
        <%= alertify_flash %>
    </head>
    <body>
        <%= render 'layouts/navbar' %>
        <div class="container" id="container_style">
            <%= yield %>
        </div>

    </body>
</html>
