<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Династия | Стоматология</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="fosem CRM">
  <meta name="description" content="Семейная стоматология Династия в городе Бишкек.">
  <meta name="keywords" content="Династия, стоматология, Бишкек, Кыргызстан, стоматология в Бишкеке, стоматология в Киргизии, лучшая стоматология Бишкека, дешего, качественно, лечение зубов, детская стоматология">
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">

  <!-- CSS -->
  <%= stylesheet_link_tag 'landing', media: 'all' %>
  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- SCRIPTS -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if IE]>
  <html class="ie" lang="en"> <![endif]-->
  <%= javascript_include_tag 'landing' %>

  <%= alertify_flash %>

</head>
<body>

<!-- PRELOADER -->
<img id="preloader" src="<%= asset_path 'preloader.gif' %>" alt=""/>
<!-- //PRELOADER -->
<div class="preloader_hide">

  <!-- PAGE -->
  <div id="page">
    <%= render 'layouts/landing_header' %>
    <%= yield %>
  </div><!-- //PAGE -->

  <!-- CONTACTS -->
  <section id="contacts">
  </section><!-- //CONTACTS -->

  <!-- FOOTER -->
  <footer>

    <!-- CONTAINER -->
    <div class="container">

      <!-- ROW -->
      <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">
        <div class="col-lg-4 col-md-4 col-sm-6 padbot30 foot_about_block">
          <h4><b>Наши</b> Контакты</h4>
          <p><b>Наш адрес:</b></p>
          <p>Бульвар Эркиндик 40(Киевская)
            <a href="javascript:void(0);"><i class="map_show fa fa-map-marker"> Карта Проезда </i></a>
          </p>
          <p><b>Телефоны:</b></p>
          <p>+996 700 81 19 99</p>
          <p>+996 312 88 19 99</p>
          <ul class="social">

            <!--<li><a href="https://ok.ru/profile/510610716866"><i class="fa fa-odnoklassniki"></i></a></li>-->
            <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/dinastiya_dental_clinic_kg/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="javascript:void(0);" class="map_show"><i class=" fa fa-map-marker"></i></a></li>
          </ul>
        </div>

        <div class="respond_clear"></div>

        <div class="col-lg-4 col-md-4 padbot30">
          <h4><b>Напишите</b> Нам</h4>

          <!-- CONTACT FORM -->
          <div class="span9 contact_form">
            <div id="note"></div>
            <div id="fields" class="create_feedback">
              <form id="contact-form-face" class="form clearfix" method="POST" action="<%= feedbacks_path %>">
                <div class="field">
                  <input type="text" name="name" placeholder="Имя"/>
                </div>
                <div class="field">
                  <input type="text" name="email" placeholder="Email"/>
                </div>
                <div class="field">
                  <input type="text" name="phone" placeholder="Телефон"/>
                </div>
                <div class="field">
                  <textarea name="message" placeholder="Сообщение"></textarea>
                </div>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input class="contact_btn" type="submit" value="Отправить"/>
              </form>
            </div>
          </div><!-- //CONTACT FORM -->
        </div>
      </div><!-- //ROW -->
      <div class="row copyright">
        <div class="col-lg-12 text-center">
          <p>Семейная Стоматология "Династия" 2017</p>
        </div>

      </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
  </footer><!-- //FOOTER -->

  <!-- MAP -->
  <div id="map">
    <a class="map_hide" href="javascript:void(0);"><i class="fa fa-angle-right"></i><i class="fa fa-angle-left"></i></a>
    <a class="dg-widget-link" href="http://2gis.kg/bishkek/firm/70000001020156932/center/74.60579395294191,42.87549235683329/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
      на карте Бишкека</a>
    <div class="dg-widget-link">
      <a href="http://2gis.kg/bishkek/center/74.605792,42.874412/zoom/16/routeTab/rsType/bus/to/74.605792,42.874412╎Династия, стоматологический центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
        проезд до стоматологии "Династия"</a></div>
    <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
    <script charset="utf-8">new DGWidgetLoader({
      "width": 600,
      "height": 450,
      "borderColor": "#a3a3a3",
      "pos": {"lat": 42.87549235683329, "lon": 74.60579395294191, "zoom": 16},
      "opt": {"city": "bishkek"},
      "org": [{"id": "70000001020156932"}]
    });</script>
    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
      настройках вашего браузера.
    </noscript>
  </div><!-- //MAP -->

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88930139-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
