<th>
  <%= sortable("appointment_date", 'Время осмотра') %>

  <% if params[:direction] == 'asc' and params[:sort] == 'appointment_date' %>
      <%= link_to conditional_appointments_path(sort: 'appointment_date', direction: 'desc'), remote: true do %>
          <i class="sort content ascending icon"></i>
      <% end %>

      <%= link_to conditional_appointments_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% elsif params[:direction] == 'desc' and params[:sort] == 'appointment_date' %>
      <%= link_to conditional_appointments_path(sort: 'appointment_date', direction: 'asc'), remote: true do %>
          <i class="sort content descending icon"></i>
      <% end %>

      <%= link_to conditional_appointments_path, remote: true do %>
          <i class="refresh icon"></i>
      <% end %>

  <% else %>
      <%= link_to conditional_appointments_path(sort: 'appointment_date', direction: 'asc'), remote: true do %>
          <i class="sort icon"></i>
      <% end %>
  <% end %>
</th>